<div th:insert="~{layout/head::head}"></div>
<!--<script src="/js/managerValidation.js"></script>-->

<div id="wrapper">

    <!-- 사이드바 START -->
    <div th:insert="~{layout/sidebar::sidebar}"></div>
    <!-- 사이드바 END -->

    <!-- 콘텐츠 START -->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <!-- 헤더 START-->
        <div th:insert="~{layout/header::header}"></div>
        <!-- 헤더 END-->

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>쿠폰 상세</h2>
                </div>
                <div class="ibox-content">
                    <!--폼 START-->
                    <form method="post" th:action="@{../update}" class="form-horizontal" id="detailForm" enctype="multipart/form-data">

                        <!--가맹점명-->
                        <div class="form-group" sec:authorize="hasAnyRole('MA','PF')">
                            <label class="col-sm-2 control-label">가맹점명<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-2">
                                <p class="form-control-static" th:text="${couponVO[2]}"></p>
                            </div>
                        </div>
                        <input type="hidden" th:value="${couponVO[1]}" class="form-control" name="storeId"/>
                        <div class="hr-line-dashed"></div>

                        <!--상품 선택-->
                        <div class="form-group" id="selectProduct">
                            <label class="col-sm-2 control-label">상품 정보<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-3">
                                <span th:if="${couponVO[4]} == 'BIRTH' or ${couponVO[4]} == 'NEW' or ${couponVO[4]} == 'UPGRADE' or ${couponVO[4]} == 'STAMP'">
                                   <select class="form-control m-b" name="productNo">
                                        <option value="0">상품 선택</option>
                                        <option th:each="product:${productList}" th:value="${product[6]}" th:selected="${couponVO[8]} == ${product[6]}">[[${product[6]}]]([[${product[7]}]]원)</option>
                                    </select>
                                    <input type="hidden" name="productTitle"/>
                                </span>
                                <span th:if="${couponVO[4]} == 'WHOLE' or ${couponVO[4]} == 'VIP' or ${couponVO[4]} == 'SELECT'">
                                    <p class="form-control-static" th:text="${couponVO[8]}"></p>
                                    <input type="hidden" th:value="${couponVO[8]}" class="form-control" name="productTitle"/>
                                </span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--할인타입-->
                        <div class="form-group" id="couponDiscountTypeCode">
                            <label class="col-sm-2 control-label">할인타입<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-3">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" th:checked="${couponVO[10]} == 'DCR'" name="couponDiscountTypeCode" value="DCR">할인율</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" th:checked="${couponVO[10]} == 'DCP'" name="couponDiscountTypeCode" value="DCP">할인가</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="DCPValue" style="display: none;">
                                        <label class="control-label"><input class="form-control" th:value="${couponVO[11]}" maxlength="5" type="text" onkeypress="InputOnlyNumber(this);" name="DCPValue"></label>
                                        <label class="control-label">원</label>
                                    </div>
                                    <div id="DCRValue" style="display: none;">
                                        <label class="control-label"><input class="form-control" th:value="${couponVO[11]}" maxlength="3" type="text" onkeypress="InputOnlyNumber(this);" name="DCRValue"></label>
                                        <label class="control-label">%</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <input type="hidden" name="couponDiscountValue">

                        <!--발송대상-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">발송대상<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-md-2" th:if="${couponVO[4]} == 'BIRTH'">
                                        <label class="radio-inline"><input type="radio" name="couponTargetTypeCode" value="BIRTH" checked>생일</label>
                                    </div>
                                    <div class="col-md-2" id="couponTargetSTAMP" th:if="${couponVO[4]} == 'STAMP'">
                                        <label class="radio-inline"><input type="radio" name="couponTargetTypeCode" value="STAMP" checked>도장적립</label>
                                    </div>
                                    <div class="col-md-2" th:if="${couponVO[4]} == 'NEW'">
                                        <label class="radio-inline"><input type="radio" name="couponTargetTypeCode" value="NEW" checked>신규</label>
                                    </div>
                                    <div class="col-md-2" th:if="${couponVO[4]} == 'UPGRADE'">
                                        <label class="radio-inline"><input type="radio" name="couponTargetTypeCode" value="UPGRADE" checked>단골등업</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2" th:if="${couponVO[4]} == 'WHOLE'">
                                        <label class="radio-inline"><input type="radio" name="couponTargetTypeCode" value="WHOLE" checked>전체</label>
                                    </div>
                                    <div class="col-md-2" th:if="${couponVO[4]} == 'VIP'">
                                        <label class="radio-inline"><input type="radio" name="couponTargetTypeCode" value="VIP" checked>단골</label>
                                    </div>
                                    <div class="col-md-4" th:if="${couponVO[4]} == 'SELECT'">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="radio-inline"><input type="radio" name="couponTargetTypeCode" value="SELECT" checked>특정</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <a class="btn btn-default" name="selectCustomer" href="#" style="display: none;">
                                                    <span>고객 선택</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--발송고객 불러오기-->
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">발행내역<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-7">
                                <a class="btn btn-default" name="selectCouponHistory" href="#" >
                                    <span>발행내역 불러오기</span>
                                </a>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--발행방법-->
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">발행방법<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-sm-2" >
                                        <label class="radio-inline"><input type="radio" th:checked="${couponVO[5]} == 'CB'"  name="couponPublishTypeCode" value="CB">쿠폰함</label>
                                    </div>
                                    <!--<div class="col-sm-2" id="couponARPublish">-->
                                        <!--<label class="radio-inline"><input type="radio" th:checked="${couponVO[5]} == 'AR'" name="couponPublishTypeCode" value="AR">AR게임</label>-->
                                    <!--</div>-->
                                    <div class="col-sm-2" id="couponReservation" style="display: none;">
                                        <label class="radio-inline"><input type="radio" th:checked="${couponVO[5]} == 'RESERVE'" name="couponPublishTypeCode" value="RESERVE">예약발행</label>
                                    </div>
                                    <div class="col-sm-6" id="couponReservationTime" style="display: none;">
                                        <label class="radio-inline">
                                            <span class="col-md-7 input-group date">
                                                <input type="text" class="form-control" name="couponReservationTime" th:value="${couponVO[6]}">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--쿠폰명-->
                        <div class="form-group" id="couponTitle">
                            <label class="col-sm-2 control-label">쿠폰명<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-2">
                                <input type="text" th:value="${couponVO[3]}" maxlength="11" class="form-control" name="couponTitle">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--쿠폰만료일-->
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">쿠폰만료일<label class="notnull-mark-color"> *</label></label>
                            <div class="col-md-5">
                                <span class="col-md-4 input-group date">
                                    <input type="text" th:value="${couponVO[13]}" class="form-control" name="couponFinishdate">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--수정, 목록 버튼-->
                        <div class="form-group">
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit" id="btnUpdate" style="visibility: hidden;">수정</button>
                                <a th:href="@{/wishwide/coupon/listCoupon(page=${pageVO.page}, size=${pageVO.size}, type=${pageVO.type}, keyword=${pageVO.keyword})}">
                                    <button class="btn btn-white" type="button" id="btnList">목록</button>
                                </a>
                            </div>
                        </div>
                        <input type="hidden" name="page" th:value="${pageVO.page}"/>
                        <input type="hidden" name="size" th:value="${pageVO.size}"/>
                        <input type="hidden" name="keyword" th:value="${pageVO.keyword}"/>
                        <input type="hidden" name="couponNo" th:value="${couponVO[0]}"/>
                    </form>
                </div>
            </div>
        </div>

        <!-- 푸터 START-->
        <div th:insert="~{layout/footer::footer}"/>
        <!-- 푸터 END -->
    </div>
    <!-- 콘텐츠 END -->
</div>
<!--쿠폰 발행내역 리스트Modal-->
<div class="modal inmodal fade" id="modalCouponHistory" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">쿠폰사용 정보</h4>
            </div>
            <div class="modal-body">
                <table class="footable table table-bordered table-hover">
                    <thead>
                    <th>전화번호</th>
                    <th>이름</th>
                    <th>쿠폰명</th>
                    <th>발급대상</th>
                    <th>발급경로</th>
                    <th>사용여부</th>
                    <th>발급일시</th>
                    </thead>
                    <tbody id="selectCouponHistory">
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="8">
                            <ul class="pagination text-center"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<th:block >
    <script th:inline="javascript">
        var detailForm = $('#detailForm');

        var couponNo = /*[[${couponVO[0]}]]*/'';
        var storeId = /*[[${couponVO[1]}]]*/'';
        var couponDiscountTypeCode = /*[[${couponVO[10]}]]*/'';
        var couponTargetTypeCode = /*[[${couponVO[4]}]]*/'';

        $(document).ready(function () {

            $('.chosen-select').chosen({width: "100%"});

            //할인여부에 따른 CSS
            $('#selectProduct').css('display', 'block');
            $('#couponDiscountTypeCode').css('display', 'block');

            if (couponDiscountTypeCode == 'DCR') {
                $('#DCRValue').css('display', 'block');
                $('#DCPValue').css('display', 'none');
            }
            else if (couponDiscountTypeCode == 'DCP') {
                $('#DCPValue').css('display', 'block');
                $('#DCRValue').css('display', 'none');
            }

            if (couponTargetTypeCode == 'WHOLE' || couponTargetTypeCode == 'VIP'
                    || couponTargetTypeCode == 'SELECT' ){
                var radio = $("input[type=radio]"); //라디오 정보를 가져옴
                $.each(radio, function (key, value) { // input radio의 name 값을 가져옴.
                    $(value).attr('disabled', 'disabled');
                });

                var text = $("input[type=text]");
                $.each(text, function (key, value) { // input radio의 name 값을 가져옴.
                    $(value).prop('readonly', 'true');
                });

            }
            else{
//                selectProduct(storeId);
                $('#btnUpdate').css('visibility', 'visible');
            }

            //쿠폰 발행내역 가져오기
            $('a[name="selectCouponHistory"]').click(function (e) {
                e.preventDefault();

                $('#selectCouponHistory').empty();
                $('#modalCouponHistory').modal('show');

                $.ajax({
                    url: "/wishwide/coupon/selectCouponHistory/" + couponNo,
                    type: 'get',
                    contentType: 'application/json',
                    success: function (data) {
                        console.log(data);
                        if (data.length != 0) {
                            $.each(data, function (index, item) {
                                var couponTargetTypeCode = '';
                                var couponPublishTypeCode = '';
                                var couponUseCode = '';
                                var customerName = '';

                                /*이름*/
                                if(!(item[5] === null))
                                    customerName = item[5];
                                else
                                    customerName = '-';

                                /*발급대상*/
                                if(item[8] == 'BIRTH')
                                    couponTargetTypeCode = '생일';
                                else if(item[8] == 'STAMP')
                                    couponTargetTypeCode = '도장적립';
                                else if(item[8] == 'NEW')
                                    couponTargetTypeCode = '신규';
                                else if(item[8] == 'UPGRADE')
                                    couponTargetTypeCode = '단골등업';
                                else if(item[8] == 'WHOLE')
                                    couponTargetTypeCode = '전체';
                                else if(item[8] == 'VIP')
                                    couponTargetTypeCode = '단골';
                                else
                                    couponTargetTypeCode = '특정';

                                /*발급경로*/
                                if(item[9] == 'AR')
                                    couponPublishTypeCode = 'AR게임';
                                else
                                    couponPublishTypeCode = '쿠폰함';

                                /*사용여부*/
                                if(item[10] == 0)
                                    couponUseCode = '미사용';
                                else
                                    couponUseCode =  item[11].replace('T', ' ');


                                $('#selectCouponHistory').append(
                                    '<tr>' +
                                    '<td>' + item[4].replace(/(^02.{0}|^01.{1}|[0-9]{3})([0-9]+)([0-9]{4})/,"$1-$2-$3") + '</td>' +
                                    '<td>' + customerName + '</td>' +
                                    '<td>' + item[7] + '</td>' +
                                    '<td>' + couponTargetTypeCode + '</td>' +
                                    '<td>' + couponPublishTypeCode + '</td>' +
                                    '<td>' + couponUseCode + '</td>' +
                                    '<td>' + item[14].replace('T', ' ') + '</td>' +
                                    '</tr>'
                                );
                            });
                            $('.footable').footable({
                                paging: {
                                    enabled: true,
                                    size: 5
                                }
                            });
                        }
                        else{
                            $('#selectCouponHistory').empty();
                            $('#selectCouponHistory').append('<tr><td colspan="8">발행된 내역이 없습니다.</td></tr>');
                        }

                    }
                });
            });

            //할인타입에 따른 CSS
            detailForm.find('[name="couponDiscountTypeCode"]').change(function () {
                var couponDiscountTypeCode = detailForm.find('[name="couponDiscountTypeCode"]:checked').val();

                if(couponDiscountTypeCode == 'DCR'){
                    $("#DCRValue").css('display','block');
                    $("#DCPValue").css('display','none');
                }
                else{
                    $("#DCPValue").css('display','block');
                    $("#DCRValue").css('display','none');
                }
            });

            //예약발행 클릭 시 CSS
            detailForm.find('[name="couponPublishTypeCode"]').change(function (e) {
                var couponPublishTypeCode = detailForm.find('[name="couponPublishTypeCode"]:checked').val();

                if(couponPublishTypeCode == 'RESERVE'){
                    $('#couponReservationTime').css('display','block');
                }
                else{
                    $('#couponReservationTime').css('display','none');
                }
            });

            $('#btnUpdate').click(function (e){
//                e.preventDefault();

                if (confirm('수정하시겠습니까?') != true) return false;

                var storeId = detailForm.find('[name="storeId"]').val();
                var productNo = detailForm.find('[name="productNo"]').val();
                var productPrice = detailForm.find('[name="productNo"] option:selected').text();
                var couponDiscountTypeCode = detailForm.find('[name="couponDiscountTypeCode"]:checked').val();
                var DCPValue = detailForm.find('[name="DCPValue"]').val();
                var DCRValue = detailForm.find('[name="DCRValue"]').val();
                var couponTargetTypeCode = detailForm.find('[name="couponTargetTypeCode"]:checked').val();
                var couponPublishTypeCode = detailForm.find('[name="couponPublishTypeCode"]:checked').val();
                var couponFinishDate = detailForm.find('[name="finishDate"]').val();

                var productPriceValue = productPrice.substring(productPrice.indexOf("(")+1, productPrice.lastIndexOf("원"));

                if(storeId == 'ALL') {
                    alert('가맹점을 선택해주세요.');
                    return false;
                }

                if (productNo == 0) {
                    alert('상품을 선택해주세요.');
                    return false;
                }
                if (couponDiscountTypeCode == undefined) {
                    alert('할인타입을 선택해주세요.');
                    return false;
                }
                else {
                    if (couponDiscountTypeCode == 'DCR') {
                        if (DCRValue == '') {
                            alert('할인률을 입력해주세요');
                            return false;
                        }
                        else if (parseInt(DCRValue) > 100) {
                            alert('할인률은 100%까지 입력가능합니다.');
                            return false;
                        }
                        else {
                            detailForm.find('[name="couponDiscountValue"]').val(DCRValue);
                        }
                    }
                    if (couponDiscountTypeCode == 'DCP') {
                        console.log('ddddddd');
                        if (DCPValue == '') {
                            alert('할인가를 입력해주세요');
                            return false;
                        }
                        else if (parseInt(DCPValue) > parseInt(productPriceValue)) {
                            alert('할인가는 상품가격보다 크게 입력이 불가능합니다.');
                            return false;
                        }
                        else {
                            detailForm.find('[name="couponDiscountValue"]').val(DCPValue);
                        }
                    }
                }

                detailForm.find('[name="productTitle"]').val(productNo);

                if (couponPublishTypeCode == undefined){
                    alert('발행방법을 선택해주세요.');
                    return false;
                }
                if (couponFinishDate == "") {
                    alert('쿠폰 만료일을 선택해 주세요.');
                    return false;
                }

                if(!checkCouponFinishDate(couponFinishDate)) return false;
            });
        });

        function selectProduct(storeId) {
            $.ajax({
                url: "/wishwide/store/selectStoreProduct/" + storeId,
                type: 'get',
                contentType: 'application/json',
                success: function (data) {
                    console.log(data);
                    if (data.length != 0) {
                        detailForm.find('[name="productNo"] option').remove();

                        $.each(data, function (index, item) {
                            console.log(item);

                            detailForm.find('[name="productNo"]').append(
                                '<option value="' + item[6] + '" >' + item[6] +'('+item[7]+'원)'+'</option>'
                            );
                        });
                    }
                    else{
                        console.log('데이터없음');
                        detailForm.find('[name="productNo"] option').remove();
                        detailForm.find('[name="productNo"]').append('<option value="0">상품 선택</option>');

                        alert('등록된 상품이 없습니다.');
                    }
                }
            });
        }

        function InputOnlyNumber(obj) {
            console.log(obj);
            $(obj).keyup(function(){
                $(this).val($(this).val().replace(/[^0-9]/g,''));
            });
            $(obj).keydown(function(){
                $(this).val($(this).val().replace(/[^0-9]/g,''));
            });
        }

        function checkCouponFinishDate(value) {
            var couponFinishDateValue = new Date(value);

            var finishYear = couponFinishDateValue.getFullYear();
            var finishMonth = couponFinishDateValue.getMonth()+1;
            var finishDay = couponFinishDateValue.getDate();

            // console.log(obj);

            var today = new Date();

            var todayMonth = today.getUTCMonth() + 1; //months from 1-12
            var todayDay = today.getUTCDate();
            var todayYear = today.getUTCFullYear();

            console.log(couponFinishDateValue);

            today = todayMonth+'/' + todayDay +'/'+todayYear;
            couponFinishDateValue = finishMonth+'/' + finishDay +'/'+finishYear;

            //배열에 담겨있는 연,월,일을 사용해서 Date 객체 생성
            var start_date = new Date(today);
            var end_date = new Date(couponFinishDateValue);

            //날짜를 숫자형태의 날짜 정보로 변환하여 비교한다.
            if (start_date.getTime() > end_date.getTime() || start_date.getTime() == end_date.getTime()) {
                alert("쿠폰 만료일은 현재날짜 이후로 지정 가능합니다.");
                return false;
            }

            return true;
        }


    </script>
</th:block>


