<div th:insert="~{layout/head::head}"></div>
<!--<script src="/js/managerValidation.js"></script>-->

<div id="wrapper">

    <!-- 사이드바 START -->
    <div th:insert="~{layout/sidebar::sidebar}"></div>
    <!-- 사이드바 END -->

    <!-- 콘텐츠 START -->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <!-- 헤더 START-->
        <div th:insert="~{layout/header::header}"></div>
        <!-- 헤더 END-->

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>쿠폰 발행</h2>
                </div>
                <div class="ibox-content">
                    <!--폼 START-->
                    <form method="post" th:action="@{postRegisterCoupon}" class="form-horizontal" id="registerForm" enctype="multipart/form-data">
                        <!--가맹점명-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">가맹점명<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-2">
                                <select data-placeholder="가맹점 선택" class="chosen-select" name="storeId" tabindex="2">
                                    <option value="ALL" >전체</option>
                                    <option th:each="store:${storeNameList}" th:value="${store[0]}">[[${store[1]}]]</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--쿠폰 유형-->
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">쿠폰 유형<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label class="radio-inline"><input type="radio" name="couponTypeNo" value="1">할인</label>
                                    </div>
                                    <div class="col-sm-2" id="stamp">
                                        <label class="radio-inline"><input type="radio" name="couponTypeNo" value="2">도장</label>
                                    </div>
                                    <div class="col-sm-2" id="point">
                                        <label class="radio-inline"><input type="radio" name="couponTypeNo" value="3">포인트</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--상품 선택-->
                        <div class="form-group" id="selectProduct" style="display:none;">
                            <label class="col-sm-2 control-label">상품 선택<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-3" id="productTitle">
                                <select class="form-control m-b" name="productTitle">
                                    <option value="0">상품 선택</option>
                                </select>
                            </div>
                        </div>
                        <!--<div class="hr-line-dashed"></div>-->

                        <!--할인타입-->
                        <div class="form-group" id="couponDiscountTypeCode" style="display:none;">
                            <label class="col-sm-2 control-label">할인타입<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-3">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="couponDiscountTypeCode" value="DCR">할인율</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="couponDiscountTypeCode" value="DCP">할인가</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="DCPValue" style="display: none;">
                                        <label class="control-label"><input class="form-control" maxlength="5" type="text" onkeypress="InputOnlyNumber(this);" name="DCPValue"></label>
                                        <label class="control-label">원</label>
                                    </div>
                                    <div id="DCRValue" style="display: none;">
                                        <label class="control-label"><input class="form-control" maxlength="3" type="text" onkeypress="InputOnlyNumber(this);" name="DCRValue"></label>
                                        <label class="control-label">%</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <input type="hidden" name="couponDiscountValue">

                        <!--도장포인트 혜택값-->
                        <div class="form-group" id="couponBenefitValue" style="display:none;">
                            <label class="col-sm-2 control-label">혜택값<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-3">
                                <div class="row">
                                    <div id="stampValue">
                                        <label class="control-label"><input class="form-control" maxlength="2" type="text" onkeypress="InputOnlyNumber(this);" name="stampValue"></label>
                                        <label class="control-label">개</label>
                                    </div>
                                    <div id="pointValue">
                                        <label class="control-label"><input class="form-control" maxlength="4" type="text" onkeypress="InputOnlyNumber(this);" name="pointValue"></label>
                                        <label class="control-label">P</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="couponBenefitValue">
                        <div class="hr-line-dashed"></div>

                        <!--발송대상-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">발송대상<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="radio-inline"><input type="radio" name="couponTargetTypeCode" value="BIRTH">생일</label>
                                    </div>
                                    <div class="col-md-2" id="couponTargetSTAMP" style="display: none;">
                                        <label class="radio-inline"><input type="radio" name="couponTargetTypeCode" value="STAMP">도장적립</label>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="radio-inline"><input type="radio" name="couponTargetTypeCode" value="NEW">신규</label>
                                    </div>
                                    <div class="col-md-2" id="couponTargetUPGRADE" style="display: none;">
                                        <label class="radio-inline"><input type="radio" name="couponTargetTypeCode" value="UPGRADE">단골등업</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="radio-inline"><input type="radio" name="couponTargetTypeCode" value="WHOLE">전체</label>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="radio-inline"><input type="radio" name="couponTargetTypeCode" value="VIP">단골</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="radio-inline"><input type="radio" name="couponTargetTypeCode" value="SELECT">특정</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <a class="btn btn-default" name="selectCustomer" href="#" style="display: none;">
                                                    <span>고객 선택</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--매장 고객 리스트Modal-->
                        <div class="modal inmodal fade" id="modalStoreCustomer" tabindex="-1" role="dialog"  aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title">고객 선택</h4>
                                    </div>
                                    <div class="modal-body">
                                        <table class="footable table table-bordered table-hover">
                                            <thead>
                                            <th data-sort-ignore="true">선택<input type="checkbox" value="0" name="allChecked" onclick="allCheckedValue();"></th>
                                            <th>전화번호</th>
                                            <th>등급</th>
                                            <th>방문횟수</th>
                                            <th>선물구매</th>
                                            <th>선물(사용/수신)</th>
                                            <th>쿠폰(사용/수신)</th>
                                            <th>적립 혜택</th>
                                            </thead>
                                            <tbody id="selectStoreCustomer">
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="8">
                                                    <ul class="pagination text-center"></ul>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">저장</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--발행방법-->
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">발행방법<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-sm-2" >
                                        <label class="radio-inline"><input type="radio" name="couponPublishTypeCode" value="CB">쿠폰함</label>
                                    </div>
                                    <div class="col-sm-2" id="couponARPublish">
                                        <label class="radio-inline"><input type="radio" name="couponPublishTypeCode" value="AR">AR게임</label>
                                    </div>
                                    <div class="col-sm-2" id="couponReservation" style="display: none;">
                                        <label class="radio-inline"><input type="radio" name="couponPublishTypeCode" value="RESERVE">예약발행</label>
                                    </div>
                                    <div class="col-sm-6" id="couponReservationTime" style="display: none;">
                                        <label class="radio-inline">
                                            <span class="col-md-7 input-group date">
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--쿠폰명-->
                        <div class="form-group" id="couponTitle">
                            <label class="col-sm-2 control-label">쿠폰명<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-2">
                                <input type="text" maxlength="11" class="form-control" name="couponTitle">
                                <span class="msg-title-input-validation"/>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--쿠폰만료일-->
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">쿠폰만료일<label class="notnull-mark-color"> *</label></label>
                            <div class="col-md-5">
                                <span class="col-md-4 input-group date">
                                    <input type="text" class="form-control" value="" name="finishDate">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </span>
                                <!--&lt;!&ndash;<label class="col-md-3 control-label"></label>&ndash;&gt;-->
                                <!--<span class="col-md-4 input-group clockpicker" data-autoclose="true">-->
                                    <!--<input type="text" class="form-control" value="" name="reserveTime">-->
                                    <!--<span class="input-group-addon">-->
                                        <!--<span class="fa fa-clock-o"></span>-->
                                    <!--</span>-->
                                <!--</span>-->
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>


                        <!--수정, 목록 버튼-->
                        <div class="form-group">
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit" id="btnSubmit">등록</button>
                                <a th:href="@{/wishwide/coupon/listCoupon(page=${pageVO.page}, size=${pageVO.size}, type=${pageVO.type}, keyword=${pageVO.keyword})}">
                                    <button class="btn btn-white" type="button" id="btnList">목록</button>
                                </a>
                            </div>
                        </div>
                        <input type="hidden" name="page" th:value="${pageVO.page}"/>
                        <input type="hidden" name="size" th:value="${pageVO.size}"/>
                        <input type="hidden" name="keyword" th:value="${pageVO.keyword}"/>
                    </form>
                </div>
            </div>
        </div>

        <!-- 푸터 START-->
        <div th:insert="~{layout/footer::footer}"/>
        <!-- 푸터 END -->
    </div>
    <!-- 콘텐츠 END -->
</div>
<th:block >
<script th:inline="javascript">
    var registerForm = $('#registerForm');

        $(document).ready(function () {
            var isSelectStoreCustomer = false;

            $('.chosen-select').chosen({width: "100%"});

            $('.clockpicker').clockpicker();

            $('.input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            //매장명에 따른 혜택, 상품가져오기
            registerForm.find('[name="storeId"]').change(function () {
                var storeId = registerForm.find('[name="storeId"]').val();

                selectStoreInfo(storeId);

                registerForm.find('[name="couponTargetTypeCode"]:checked').prop('checked', false);
                registerForm.find('[name="couponPublishTypeCode"]:checked').prop('checked', false);
                registerForm.find('[name="couponTypeNo"]:checked').prop('checked', false);
                $('#couponBenefitValue').css('display','none');
                $('#stampValue').css('display','none');
                $('#pointValue').css('display','none');

                if (storeId == 'ALL'){
                    $('#selectProduct').css('display','none');
                    $('#couponReservation').css('display','none');
                    $('#couponReservationTime').css('display','none');
                    $('#stamp').css('display','block');
                    $('#point').css('display','block');
                    $('#couponTargetSTAMP').css('display','none');
                    $('#couponTargetUPGRADE').css('display','none');
                    $('#couponDiscountTypeCode').css('display','none');
                }

                var couponTypeNo = registerForm.find('[name="couponTypeNo"]:checked').val();

                if(couponTypeNo == 1){
                    selectProduct(storeId);
                }
            });

            //쿠폰유형에 따른 CSS
            registerForm.find('[name="couponTypeNo"]').change(function (e) {
                var storeId = registerForm.find('[name="storeId"]').val();
                var couponTypeNo = registerForm.find('[name="couponTypeNo"]:checked').val();

                console.log(couponTypeNo + '값');

                if(storeId == 'ALL') {
                    alert('가맹점을 먼저 선택해주세요.');
                    console.log($(this));
                    $(this).prop('checked', false);

                    return false;
                }
                else{
                    if(couponTypeNo == 1){
                        $('#selectProduct').css('display','block');
                        $('#couponDiscountTypeCode').css('display','block');
                        $('#couponReservation').css('display','block');
                        $('#couponBenefitValue').css('display','none');
                        registerForm.find('[name="couponPublishTypeCode"]').prop('checked', false);
                        selectProduct(storeId);
                    }
                    else{
                        $('#selectProduct').css('display','none');
                        $('#couponReservation').css('display','none');
                        $('#couponReservationTime').css('display','none');
                        $('#couponDiscountTypeCode').css('display','none');
                        $('#couponBenefitValue').css('display','block');

                        if(couponTypeNo == 2){
                            $('#stampValue').css('display','block');
                            $('#pointValue').css('display','none');
                        }
                        if(couponTypeNo == 3){
                            $('#pointValue').css('display','block');
                            $('#stampValue').css('display','none');
                        }
                    }
                }

            });

            //할인타입에 따른 CSS
            registerForm.find('[name="couponDiscountTypeCode"]').change(function () {
                var couponDiscountTypeCode = registerForm.find('[name="couponDiscountTypeCode"]:checked').val();

                if(couponDiscountTypeCode == 'DCR'){
                    $("#DCRValue").css('display','block');
                    $("#DCPValue").css('display','none');
                }
                else{
                    $("#DCPValue").css('display','block');
                    $("#DCRValue").css('display','none');
                }
            });

            //쿠폰발행대상에 따른 CSS
            registerForm.find('[name="couponTargetTypeCode"]').change(function (e) {
                var storeId = registerForm.find('[name="storeId"]').val();
                var couponTargetTypeCode = registerForm.find('[name="couponTargetTypeCode"]:checked').val();

                console.log(couponTargetTypeCode + '값');

                if(storeId == 'ALL') {
                    alert('가맹점을 먼저 선택해주세요.');
                    console.log($(this));
                    $(this).prop('checked', false);

                    return false;
                }
                else{
                    if(couponTargetTypeCode == 'SELECT') {
                        alert('고객들을 선택해주세요.');
                        console.log($(this));

                        registerForm.find('[name="selectCustomer"]').css('display','block');

                        return false;
                    }
                    else{
                        registerForm.find('[name="selectCustomer"]').css('display','none');

                        if (couponTargetTypeCode == 'STAMP'|| couponTargetTypeCode == 'BIRTH'
                                ||couponTargetTypeCode == 'NEW' ||couponTargetTypeCode == 'UPGRADE'){
                            $('#couponReservation').css('display','none');
                            $('#couponReservationTime').css('display','none');
                        }
                        else{
                            registerForm.find('[name="couponPublishTypeCode"]').prop('checked', false);
                            $('#couponReservation').css('display','block');
                        }
                    }
                }
            });

            //예약발행 클릭 시 CSS
            registerForm.find('[name="couponPublishTypeCode"]').change(function (e) {
                var couponPublishTypeCode = registerForm.find('[name="couponPublishTypeCode"]:checked').val();

                if(couponPublishTypeCode == 'RESERVE'){
                    $('#couponReservationTime').css('display','block');
                }
                else{
                    $('#couponReservationTime').css('display','none');
                }
            });

            //매장 고객리스트 가져오기
            $('a[name="selectCustomer"]').click(function (e) {
                e.preventDefault();

                var storeId = registerForm.find('[name="storeId"]').val();

                console.log(storeId);

                $('#modalStoreCustomer').modal('show');

                if (!isSelectStoreCustomer){
                    $.ajax({
                        url: "/wishwide/store/selectStoreCustomer/" + storeId,
                        type: 'get',
                        contentType: 'application/json',
                        success: function (data) {
                            console.log(data);
                            if (data.length != 0) {
                                $.each(data, function (index, item) {
                                    var customerGradeTypeCode = '';
                                    var customerBenefitTypeCode = '';

                                    //등급
                                    if(item[4] == 'BASIC')
                                        customerGradeTypeCode = '일반';
                                    else if(item[4] == 'NEW')
                                        customerGradeTypeCode = '신규';
                                    else if(item[4] == 'VIP')
                                        customerGradeTypeCode = '단골';
                                    else
                                        customerGradeTypeCode = '비멤버쉽';

                                    //혜택값
                                    if(item[10] == 'S')
                                        customerBenefitTypeCode = item[11]+'개';
                                    else
                                        customerBenefitTypeCode = item[11]+'P';

                                    $('#selectStoreCustomer').append(
                                        '<tr>' +
                                        '<td><input class="store-check-validation" name="membershipCustomerNo" type="checkbox" value="' + item[0] + '"></td>' +
                                        '<td>' + item[1].replace(/(^02.{0}|^01.{1}|[0-9]{3})([0-9]+)([0-9]{4})/,"$1-$2-$3") + '</td>' +
                                        '<td>' + customerGradeTypeCode + '</td>' +
                                        '<td>' + item[5] + '</td>' +
                                        '<td>' + item[6] + '</td>' +
                                        '<td>' + item[14] + '/' + item[15] + '</td>' +
                                        '<td>' + item[8] + '/' + item[9] + '</td>' +
                                        '<td>' + customerBenefitTypeCode + '</td>' +
                                        '</tr>'
                                    );
                                });
                                $('.footable').footable({
                                    paging: {
                                        enabled: true,
                                        size: 5
                                    }
                                });
                                isSelectStoreCustomer = true;
                            }
                        }
                    });
                }
            });

            $('#btnSubmit').click(function (e){
//                e.preventDefault();

                if (confirm('등록하시겠습니까?') != true) return false;

                /*유효성 검사*/
                var storeId = registerForm.find('[name="storeId"]').val();
                var productTitle = registerForm.find('[name="productTitle"]').val();
                var productPrice = registerForm.find('[name="productTitle"] option:selected').text();
                var couponDiscountTypeCode = registerForm.find('[name="couponDiscountTypeCode"]:checked').val();
                var DCPValue = registerForm.find('[name="DCPValue"]').val();
                var DCRValue = registerForm.find('[name="DCRValue"]').val();
                var couponTargetTypeCode = registerForm.find('[name="couponTargetTypeCode"]:checked').val();
                var couponPublishTypeCode = registerForm.find('[name="couponPublishTypeCode"]:checked').val();
                var stampValue = registerForm.find('[name="stampValue"]').val();
                var pointValue = registerForm.find('[name="pointValue"]').val();
                var couponTypeNo = registerForm.find('[name="couponTypeNo"]:checked').val();
                var couponFinishDate = registerForm.find('[name="finishDate"]').val();

                var productPriceValue = productPrice.substring(productPrice.indexOf("(")+1, productPrice.lastIndexOf("원"));

                if(storeId == 'ALL') {
                    alert('가맹점을 선택해주세요.');
                    return false;
                }
                if(couponTypeNo == 1){
                    registerForm.find('[name="couponBenefitValue"]').val('0');

                    if (productTitle == ''){
                        alert('상품을 선택해주세요.');
                        return false;
                    }
                    if (couponDiscountTypeCode == undefined){
                        alert('할인타입을 선택해주세요.');
                        return false;
                    }
                    else{
                        if (couponDiscountTypeCode == 'DCR'){
                            if (DCRValue == ''){
                                alert('할인률을 입력해주세요');
                                return false;
                            }
                            else if (parseInt(DCRValue) > 100){
                                alert('할인률은 100%까지 입력가능합니다.');
                                return false;
                            }
                            else{
                                registerForm.find('[name="couponDiscountValue"]').val(DCRValue);
                            }
                        }
                        if (couponDiscountTypeCode == 'DCP'){
                            if (DCPValue == ''){
                                alert('할인가를 입력해주세요');
                                return false;
                            }
                            else if (parseInt(DCPValue) > parseInt(productPriceValue)){
                                alert('할인가는 상품가격보다 크게 입력이 불가능합니다.');
                                return false;
                            }
                            else{
                                registerForm.find('[name="couponDiscountValue"]').val(DCPValue);
                            }
                        }
                    }

                    registerForm.find('[name="productTitle"]').val(DCPValue);

                }
                else{
                    registerForm.find('[name="couponDiscountValue"]').val('0');

                    if (couponTypeNo == 2){
                        if (stampValue == ''){
                            alert('도장 개수를 입력해주세요');
                            return false;
                        }
                        else if (stampValue == 0){
                            alert('도장은 1개 이상부터 입력해주세요');
                            return false;
                        }
                        else{
                            registerForm.find('[name="couponBenefitValue"]').val(stampValue);
                        }
                    }
                    if (couponTypeNo == 3){
                        if (pointValue == ''){
                            alert('포인트를 입력해주세요');
                            return false;
                        }
                        else if (pointValue == 0){
                            alert('포인트는 1P 이상부터 입력해주세요');
                            return false;
                        }
                        else{
                            registerForm.find('[name="couponBenefitValue"]').val(stampValue);
                        }
                    }
                }

                if (couponTargetTypeCode == undefined){
                    alert('발송대상을 선택해주세요.');
                    return false;
                }
                //발행대상 유효성검사
                else{
                    if (couponTargetTypeCode == 'STAMP'|| couponTargetTypeCode == 'BIRTH'
                        ||couponTargetTypeCode == 'NEW' ||couponTargetTypeCode == 'UPGRADE'){
                        $.ajax({
                            url: "/wishwide/coupon/selectCouponRegisterCode/" + storeId+"/"+couponTargetTypeCode,
                            type: 'get',
                            contentType: 'application/json',
                            success: function (data) {
                                console.log(data);
                                if (data.length != 0) {
                                    if (data == 1 || data > 1){
                                        alert('도장적립, 생일, 신규, 단골등업 대상쿠폰은 한 개만 발행 가능합니다.');
                                        return false;
                                    }
                                }
                            }
                        });
                    }
                }

                if (couponPublishTypeCode == undefined){
                    alert('발행방법을 선택해주세요.');
                    return false;
                }
                if (couponTypeNo == undefined){
                    alert('쿠폰유형을 선택해주세요.');
                    return false;
                }
                if (couponFinishDate == "") {
                    alert('쿠폰 만료일을 선택해 주세요.');
                    return false;
                }

                if(!checkCouponFinishDate(couponFinishDate)) return false;

            });

        });

    function allCheckedValue() {
        var allChecked = registerForm.find('[name="allChecked"]').val();

        if(allChecked == 0){
            for (var i = 0; i < registerForm.find('[name="membershipCustomerNo"]').length; i++) {
                registerForm.find('[name="membershipCustomerNo"]')[i].checked = true;
            }

            registerForm.find('[name="allChecked"]').val(1);
        }
        else{
            for (var i = 0; i < registerForm.find('[name="membershipCustomerNo"]').length; i++) {
                registerForm.find('[name="membershipCustomerNo"]')[i].checked = false;
            }

            registerForm.find('[name="allChecked"]').val(0);
        }
    }

    function selectProduct(storeId) {
        $.ajax({
            url: "/wishwide/store/selectStoreProduct/" + storeId,
            type: 'get',
            contentType: 'application/json',
            success: function (data) {
                console.log(data);
                if (data.length != 0) {
                    registerForm.find('[name="productTitle"] option').remove();

                    $.each(data, function (index, item) {
                        console.log(item);

                        registerForm.find('[name="productTitle"]').append(
                            '<option value="' + item[6] + '" >' + item[6] + '(' + item[7] + '원)' + '</option>'
                        );
                    });
                }
                else {
                    console.log('데이터없음');
                    registerForm.find('[name="productTitle"] option').remove();
                    registerForm.find('[name="productTitle"]').append('<option value="0">상품 선택</option>');

                    alert('등록된 상품이 없습니다.');
                }
            }
        });
    }

    function selectStoreInfo(storeId) {
        $.ajax({
            url: "/wishwide/store/selectOneStore/" + storeId,
            type: 'get',
            contentType: 'application/json',
            success: function (data) {
                console.log(data);
                if (data.length != 0) {
                    if (data[20] == 'S') {
                        $('#point').css('display', 'none');
                        $('#stamp').css('display', 'block');
                        $('#couponTargetSTAMP').css('display', 'block');
                        $('#couponTargetUPGRADE').css('display', 'block');
                    }
                    if (data[20] == 'P') {
                        $('#stamp').css('display', 'none');
                        $('#point').css('display', 'block');
                        $('#couponTargetSTAMP').css('display', 'none');
                        $('#couponTargetUPGRADE').css('display', 'none');
                    }
                    if (data[25] == 0) {
                        $('#couponARPublish').css('display', 'none');
                    }
                    if (data[25] == 1) {
                        $('#couponARPublish').css('display', 'block');
                    }
                }
            }
        });
    }

    function renameForModelAttribute(element, index) {
        $(element).find("input[name=subProductName]").attr("name", "subProductList[" + index + "].subProductName");
        $(element).find("input[name=subProductPrice]").attr("name", "subProductList[" + index + "].subProductPrice");
    }

</script>
</th:block>


