<div th:insert="~{layout/head::head}"></div>
<script src="/js/managerValidation.js"></script>

<div id="wrapper">

    <!-- 사이드바 START -->
    <div th:insert="~{layout/sidebar::sidebar}"></div>
    <!-- 사이드바 END -->

    <!-- 콘텐츠 START -->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <!-- 헤더 START-->
        <div th:insert="~{layout/header::header}"></div>
        <!-- 헤더 END-->

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>가맹점 등록</h2>
                </div>
                <div class="ibox-content">
                    <!--폼 START-->
                    <form method="post" th:action="@{postRegisterStore}" class="form-horizontal" id="registerForm" enctype="multipart/form-data">
                        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>기본정보
                                        <small class="m-l-sm"></small>
                                    </h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <!--아이디-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">아이디<label class="notnull-mark-color"> *</label></label>
                                        <div class="col-sm-2">
                                            <input type="text" maxlength="20" class="form-control id-input-validation" name="storeId">
                                            <span class="msg-id-input-validation"></span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--비밀번호-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">비밀번호<label class="notnull-mark-color"> *</label></label>
                                        <div class="col-sm-2">
                                            <input type="password" maxlength="15" class="form-control password-input-validation" name="userPw">
                                            <span class="msg-password-input-validation"></span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--비밀번호확인-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">비밀번호 확인<label class="notnull-mark-color"> *</label></label>
                                        <div class="col-sm-2">
                                            <input type="password" maxlength="15" class="form-control password-confirm-input-validation">
                                            <span class="msg-password-confirm-input-validation"></span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>매장정보
                                        <small class="m-l-sm"></small>
                                    </h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <!--로고-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">로고<label class="notnull-mark-color"> *</label></label>
                                        <div class="col-sm-5">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="file1">
                                                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 100px; height: 80px;"></div>
                                                <span class="fileinput-filename"></span>
                                                <div>
                                                    <span class="btn btn-default btn-file">
                                                        <span class="fileinput-new">파일 선택</span>
                                                        <span class="fileinput-exists">파일 수정</span>
                                                        <input type="file" name="logoFile" class="file-validation" onchange="fileUploadValidation(this, 'image', '1')">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--브랜드명-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">브랜드명<label class="notnull-mark-color"> *</label></label>
                                            <div class="col-sm-2">
                                            <input type="text" maxlength="20" class="form-control title-input-validation" name="brandName">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--가맹점명-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">가맹점명<label class="notnull-mark-color"> *</label></label>
                                        <div class="col-sm-2">
                                            <input type="text" maxlength="20" class="form-control title-input-validation" name="storeName">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--사업자번호-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">사업자 번호<label class="notnull-mark-color"> *</label></label>

                                        <div class="col-sm-5">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <input type="text" data-mask="999" class="form-control" name="storeBusinessRegistrationNumber" maxlength="3">
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="text" data-mask="99" class="form-control" name="storeBusinessRegistrationNumber" maxlength="2">
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="text" data-mask="99999" class="form-control" name="storeBusinessRegistrationNumber" maxlength="5">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--사업자등록증-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">사업자 등록증<label class="notnull-mark-color"> *</label></label>

                                        <div class="col-sm-10">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 100px; height: 80px;"></div>
                                                <span class="fileinput-filename"></span>
                                                <div>
                                                    <span class="btn btn-default btn-file">
                                                        <span class="fileinput-new">파일 선택</span>
                                                        <span class="fileinput-exists">파일 변경</span>
                                                        <input type="file" name="bziFile"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--연락처-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">연락처<label class="notnull-mark-color"> *</label></label>
                                        <div class="col-sm-2">
                                            <input type="text" maxlength="11" class="form-control phone-number-input-validation" name="storePhone" placeholder="ex) 01012345678" onkeypress="InputOnlyNumber(this);">
                                            <span class="msg-phone-number-input-validation"></span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--이메일-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">이메일<label class="notnull-mark-color"> *</label></label>
                                        <div class="col-sm-2">
                                            <input type="email" maxlength="40" placeholder="이메일 @ sample.com" class="form-control email-input-validation" name="storeEmail">
                                            <span class="msg-email-input-validation"></span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--대표자명-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">대표자명<label class="notnull-mark-color"> *</label></label>
                                        <div class="col-sm-2">
                                            <input type="text" maxlength="20" class="form-control president-name-input-validation" name="storePresidentName">
                                            <span class="msg-president-name-input-validation"/>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--담당자정보-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">담당자 정보<label class="notnull-mark-color"> *</label></label>
                                        <div class="col-sm-2">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input type="text" maxlength="20" placeholder="이름" class="form-control operator-name-input-validation " name="storeOperatorName">
                                                    <span class="msg-operator-name-input-validation"/>
                                                </div>
                                            </div>
                                            <div>
                                                <input type="text" maxlength="11" class="form-control operator-phone-number-input-validation"  name="storeOperatorPhone" placeholder="전화번호"  onkeypress="InputOnlyNumber(this);">
                                                <span class="msg-operator-phone-number-input-validation"/>
                                            </div>
                                            <div>
                                                <input type="email" maxlength="40" placeholder="이메일@sample.com" class="form-control operator-email-input-validation" name="storeOperatorEmail">
                                                <span class="msg-operator-email-input-validation"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--우편번호-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">우편번호<label class="notnull-mark-color"> *</label></label>
                                        <div class="col-sm-5">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control" name="storeZipCode" id="storeZipCode" onclick="searchAddress();" readonly>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-primary" onclick="searchAddress();">우편번호 검색</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--주소-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">주소<label class="notnull-mark-color"> *</label></label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" name="storeAddress"  id="storeAddress" readonly>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--상세주소-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">상세주소</label>

                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" name="storeAddressDetail"  id="storeAddressDetail">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <!--위도/경도-->
                                    <input type="hidden" class="form-control" name="storeLatitude" id="storeLatitude"/>
                                    <input type="hidden" class="form-control" name="storeLongitude" id="storeLongitude"/>

                                    <!--카카오 옐로우 아이디-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">카카오 옐로우 아이디</label>
                                        <div class="col-sm-2">
                                            <input type="text" maxlength="20" class="form-control" name="storeKakaoYellowId">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--서비스운영타입코드-->
                                    <input type="hidden" value="PREACTIVE" class="form-control" name="storeServiceOperationCode"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>서비스정보
                                            <input type="checkbox" name="storeServiceUseCode" class="js-switch" value="1" checked />
                                    </h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <!--매장소개-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">매장소개<label class="notnull-mark-color"> *</label></label>
                                        <div class="col-sm-2">
                                            <textarea class="form-control" name="storeIntroduction" rows="7"></textarea>
                                            <span class="textarea-limit-validation"></span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--혜택타입-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">혜택타입<label class="notnull-mark-color"> *</label></label>
                                        <div class="col-sm-3" >
                                            <label class="radio-inline"><input type="radio" name="storeBenefitTypeCode" value="S">도장</label>
                                            <label class="radio-inline"><input type="radio" name="storeBenefitTypeCode" value="P">포인트</label>
                                        </div>
                                    </div>
                                    <!--도장 혜택 정보-->
                                    <div class="form-group" id="stampBenefitInfo" style="display: none;">
                                        <div class="col-sm-offset-1 col-md-10" >
                                            <div class="panel panel-default ">
                                                <!--<div class="panel-heading"><h5>도장 혜택 정보</h5></div>-->
                                                <div class="panel-body">
                                                    <div class="panel-group">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">쿠폰발급 도장개수 기준</label>
                                                            <div class="col-sm-5">
                                                                <label class="checkbox-inline"><input type="text" name="storeStampGoal" style="width: 70px;"> 개</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">단골등업 도장개수 기준</label>
                                                            <div class="col-sm-5">
                                                                <label class="checkbox-inline"><input type="text" name="storeStampVipGoal" style="width: 70px;"> 개</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--포인트 혜택 정보-->
                                    <div class="form-group" id="pointBenefitInfo" style="display: none">
                                        <div class="col-sm-offset-1 col-md-10" >
                                            <div class="panel panel-default ">
                                                <!--<div class="panel-heading"><h5>포인트 혜택 정보</h5></div>-->
                                                <div class="panel-body">
                                                    <div class="panel-group">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">포인트 사용기준</label>
                                                            <div class="col-sm-5">
                                                                <label class="checkbox-inline"><input type="text" name="storePointUseGoal"  style="width: 70px;"> P</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">단골등업 포인트 기준</label>
                                                            <div class="col-sm-5">
                                                                <label class="checkbox-inline"><input type="text" name="storePointVipGoal"  style="width: 70px;"> P</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--개점시간-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">개점시간<label class="notnull-mark-color"> *</label></label>
                                        <div class="col-sm-2">
                                            <div class="input-group clockpicker" data-autoclose="true">
                                                <input type="time" class="form-control" value="09:30" name="storeOpeningHour">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-clock-o"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--폐점시간-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">폐점시간<label class="notnull-mark-color"> *</label></label>
                                        <div class="col-sm-2">
                                            <div class="input-group clockpicker" data-autoclose="true">
                                                <input type="time" class="form-control" value="22:30" name="storeClosingHour">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-clock-o"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>계약정보
                                        <small class="m-l-sm"></small>
                                    </h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <!--계약서-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">계약서<label class="notnull-mark-color"> *</label></label>
                                        <div class="col-sm-10">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 100px; height: 80px;"></div>
                                                <span class="fileinput-filename"></span>
                                                <div>
                                                    <span class="btn btn-default btn-file">
                                                        <span class="fileinput-new">파일 선택</span>
                                                        <span class="fileinput-exists">파일 변경</span>
                                                        <input type="file" name="contractFile"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--계약상태-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">계약상태<label class="notnull-mark-color"> *</label></label>

                                        <div class="col-md-2">
                                            <select class="form-control m-b" name="storeContractStatusCode">
                                                <option value="CW">계약대기</option>
                                                <option value="CY">계약중</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <!--계약기간-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">계약기간<label class="notnull-mark-color"> *</label></label>
                                        <div class="col-sm-5">
                                            <div class="input-daterange input-group" id="datepicker">
                                                <input type="date" class="input-sm form-control contract-begin-date-input-validation" name="storeContractBegindate" />
                                                <span class="input-group-addon"> ~ </span>
                                                <input type="date" class="input-sm form-control contract-finish-date-input-validation" name="storeContractFinishdate" />
                                            </div>
                                            <span class="msg-contract-period-input-validation"></span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>

                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="storeArGameUseCode" value="0">
                        <!--<div class="col-lg-12">-->
                            <!--<div class="ibox float-e-margins">-->
                                <!--<div class="ibox-title">-->
                                    <!--<h5>AR게임 정보-->
                                        <!--<small class="m-l-sm"></small>-->
                                    <!--</h5>-->
                                    <!--<div class="ibox-tools">-->
                                        <!--<a class="collapse-link">-->
                                            <!--<i class="fa fa-chevron-up"></i>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</div>-->


                                <!--<div class="ibox-content">-->
                                    <!--&lt;!&ndash;AR게임&ndash;&gt;-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-2 control-label">AR게임<label class="notnull-mark-color"> *</label></label>-->
                                        <!--<div class="col-sm-5" >-->
                                            <!--<label class="radio-inline"><input type="radio" name="storeArGameUseCode" value="0" checked="checked">미사용</label>-->
                                            <!--<label class="radio-inline"><input type="radio" name="storeArGameUseCode" value="1">사용</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="hr-line-dashed"></div>-->

                                    <!--&lt;!&ndash;게임타입&ndash;&gt;-->
                                    <!--<div class="form-group" id="storeArGameTypeCode" style="display:none;">-->
                                        <!--<label class="col-sm-2 control-label">게임타입</label>-->
                                        <!--<div class="col-sm-6" >-->
                                            <!--<div class="row">-->
                                                <!--<div class="col-md-3">-->
                                                    <!--<select class="form-control m-b" name="storeArGameTypeCode">-->
                                                        <!--<option value="1">캐릭터잡기</option>-->
                                                        <!--<option value="2">글자맞추기</option>-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                                <!--<div id="storeArGameWord" style="display:none;">-->
                                                    <!--<label class="col-sm-2 control-label">단어 입력</label>-->
                                                    <!--<div class="col-md-4">-->
                                                        <!--<input type="text" maxlength="10" class="form-control only-alpha-validation" name="storeArGameWord">-->
                                                        <!--<p class="form-control-static" style="color: red">*a~z까지 10자이내로<br> 원하는 단어를 입력해주세요. </p>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>기타 정보
                                            <small class="m-l-sm"></small>
                                        </h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <!--메모-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">메모</label>
                                            <div class="col-sm-2">
                                                <textarea class="form-control" name="storeMemo" rows="7"></textarea>
                                                <span class="textarea-limit-validation"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--등록, 목록 버튼-->
                        <div class="form-group">
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit" id="btnSubmit">등록</button>
                                <a th:href="@{/wishwide/store/listStore(page=${pageVO.page}, size=${pageVO.size}, type=${pageVO.type}, keyword=${pageVO.keyword})}">
                                    <button class="btn btn-white" type="button" id="btnList">목록</button>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- 푸터 START-->
        <div th:insert="~{layout/footer::footer}"/>
        <!-- 푸터 END -->
    </div>
    <!-- 콘텐츠 END -->
</div>
<th:block >
    <script th:inline="javascript">
        var registerForm = $('#registerForm');

        $(document).ready(function () {
            $('.clockpicker').clockpicker();

            var elem = document.querySelector('.js-switch');
            var switchery = new Switchery(elem, { color: '#1AB394' });

            //혜택타입 코드에 따른 CSS
            registerForm.find('[name="storeBenefitTypeCode"]').change(function (e) {
                var storeBenefitTypeCode = registerForm.find('[name="storeBenefitTypeCode"]:checked').val();

                console.log(storeBenefitTypeCode + '값');

                if(storeBenefitTypeCode == 'S'){
                    $('#pointBenefitInfo').css('display','none');
                    $('#stampBenefitInfo').css('display','block');
                }
                else if(storeBenefitTypeCode == 'P'){
                    $('#stampBenefitInfo').css('display','none');
                    $('#pointBenefitInfo').css('display','block');
                }
                else{
                    $('#stampBenefitInfo').css('display','none');
                    $('#pointBenefitInfo').css('display','none');
                }
            });

            //AR게임 사용 여부에 따른 CSS
            registerForm.find('[name="storeArGameUseCode"]').change(function (e) {
                var storeArGameUseCode = registerForm.find('[name="storeArGameUseCode"]:checked').val();

                console.log(storeArGameUseCode + '값');

                if(storeArGameUseCode == '1'){
                    $('#storeArGameTypeCode').css('display','block');
                }
                else{
                    $('#storeArGameTypeCode').css('display','none');
                    $('#storeArGameWord').css('display','none');
                }
            });

            //게임타입 코드에 따른 CSS
            registerForm.find('[name="storeArGameTypeCode"]').change(function (e) {
                var storeArGameTypeCode = registerForm.find('[name="storeArGameTypeCode"] option:selected').val();

                console.log(storeArGameTypeCode + '값');

                if(storeArGameTypeCode == '2'){
                    $('#storeArGameWord').css('display','block');
                }
                else{
                    $('#storeArGameWord').css('display','none');
                    registerForm.find('[name="storeArGameTypeCode"] option:eq(0)').prop('selected', true);
                }
            });

            var onlyAlphaRegularExpressions = /^[A-Za-z]*$/ ;  //영어만
            //영어 유효성 체크
            $('.only-alpha-validation').blur(function () {
                var value = $('.only-alpha-validation').val();

                if (!(onlyAlphaRegularExpressions.test(value))) {
                    $('.only-alpha-validation').val('');
                }
            });

            $('.switchery').click(function () {
                var storeServiceUseCode = registerForm.find('[name="storeServiceUseCode"]').val();

                console.log(storeServiceUseCode + '서비스사용코드');

                if(storeServiceUseCode == 1){
                    registerForm.find('[name="storeServiceUseCode"]').attr('value', 0);
                }
                else{
                    registerForm.find('[name="storeServiceUseCode"]').attr('value', 1);
                }
            });

            //등록 버튼 클릭 시 null 체크 유효성 검사
            $('#btnSubmit').click(function (e) {
//                e.preventDefault();

                if (confirm('등록하시겠습니까?') != true) return false;

                var contractBeginDate = $('.contract-begin-date-input-validation');
                var contractFinishDate = $('.contract-finish-date-input-validation');
                var bziFile = $('input[name="bziFile"]').val();
                var contractFile = $('input[name="contractFile"]').val();
                var logoFile = $('input[name="logoFile"]').val();
                var storeBenefitTypeCode = registerForm.find('[name="storeBenefitTypeCode"]:checked').val();
                var storeIntroduction = registerForm.find('[name="storeIntroduction"]').val();
                var storePointUseGoal = registerForm.find('[name="storePointUseGoal"]').val();
                var storePointVipGoal = registerForm.find('[name="storePointVipGoal"]').val();
                var storeStampGoal = registerForm.find('[name="storeStampGoal"]').val();
                var storeStampVipGoal = registerForm.find('[name="storeStampVipGoal"]').val();
                var emailValue = $('.email-input-validation').val();
                var emailMsg = $('.msg-email-input-validation');
                var operatorEmailValue = $('.operator-email-input-validation').val();
                var operatorEmailMsg = $('.msg-operator-email-input-validation');
                var phoneNumberValue = $('.phone-number-input-validation').val();
                var phoneNumberMsg = $('.msg-phone-number-input-validation');
                var operatorPhoneNumberValue = $('.operator-phone-number-input-validation').val();
                var operatorPhoneNumberMsg = $('.msg-operator-phone-number-input-validation');
                var presidentNameValue = $('.president-name-input-validation').val();
                var presidentNameMsg = $('.msg-president-name-input-validation');
                var operatorNameValue = $('.operator-name-input-validation').val();
                var operatorNameMsg = $('.msg-operator-name-input-validation');

                if (checkIdValidation() != true){
                    alert('아이디를 바르게 입력해주세요.');
                    return false;
                }

                if (checkPasswordValidation() != true){
                    alert('비밀번호를 바르게 입력해주세요.');
                    return false;
                }

                if (checkPasswordConfirmValidation() != true){
                    alert('비밀번호확인을 바르게 입력해주세요.');
                    return false;
                }

                if (checkValidEmail(emailValue, emailMsg) != true){
                    alert('이메일을 바르게 입력해주세요.');
                    return false;
                }

                if (checkValidPhoneNumber(1,phoneNumberValue, phoneNumberMsg) != true){
                    alert('연락처를 바르게 입력해주세요.');
                    return false;
                }

                if (checkValidName(1, presidentNameValue, presidentNameMsg) != true){
                    alert('대표자명을 바르게 입력해주세요.');
                    return false;
                }

                if (checkValidName(1, operatorNameValue, operatorNameMsg) != true){
                    alert('담당자명을 바르게 입력해주세요.');
                    return false;
                }

                if (checkValidPhoneNumber(1,operatorPhoneNumberValue, operatorPhoneNumberMsg ) != true){
                    alert('담당자연락처를 바르게 입력해주세요.');
                    return false;
                }

                if (checkValidEmail(operatorEmailValue, operatorEmailMsg) != true){
                    alert('담당자이메일을 바르게 입력해주세요.');
                    return false;
                }

                if (checkTitleValidation() != true){
                    alert('가맹점명과 브랜드명을 바르게 입력해주세요.');
                    return false;
                }

                if (checkNullValue() != true) return false;
                if (checkPlaceholderNullValue() != true) return false;

                if (contractBeginDate.length != 0) {
                    if (!checkContractBeginDate(contractBeginDate.val()))
                        return false;

                    if (contractFinishDate.length != 0) {
                        if (!checkContractFinishDate(contractBeginDate.val(), contractFinishDate.val()))
                            return false;
                    }
                }

                if((bziFile == '')) {
                    alert('사업자 등록증을 등록해주세요');
                    return false;
                }
                if( contractFile == '') {
                    alert('계약서를 등록해주세요');
                    return false;
                }
                if(logoFile == '') {
                    alert('로고이미지를 등록해주세요');
                    return false;
                }

                if(storeBenefitTypeCode == undefined) {
                    alert('혜택타입을 선택해주세요');
                    return false;
                }
                else{
                    if (storePointUseGoal == ''){
                        registerForm.find('[name="storePointUseGoal"]').val(0);
                    }
                    if (storePointVipGoal == ''){
                        registerForm.find('[name="storePointVipGoal"]').val(0);
                    }
                    if (storeStampGoal == ''){
                        registerForm.find('[name="storeStampGoal"]').val(0);
                    }
                    if (storeStampVipGoal == ''){
                        registerForm.find('[name="storeStampVipGoal"]').val(0);
                    }
                }

                if (storeIntroduction == ''){
                    alert('매장소개를 입력해주세요.');
                    return false;
                }

                for (var i = 0; i < registerForm.find('[name="storeBusinessRegistrationNumber"]').length; i++) {
                    if(registerForm.find('[name="storeBusinessRegistrationNumber"]')[i].value == ''){
                        alert('사업자 번호를 끝까지 입력해주세요');
                        return false;
                    }
                }

            });
        });

    </script>
</th:block>


