<div th:insert="~{layout/head::head}"/>
<div id="wrapper">
    <!-- 사이드바 START -->
    <div th:insert="~{layout/sidebar::sidebar}"/>
    <!-- 사이드바 END -->

    <div id="page-wrapper" class="gray-bg">
        <!-- 헤더 START -->
        <div th:insert="~{layout/header::header}"/>
        <!-- 헤더 END -->

        <!-- 콘텐츠 START -->
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>알림 발송 설정</h2>
                </div>
                <div class="ibox-content">
                    <div class="col-lg-10">
                        <div class="col-lg-6">
                            <table class="custom-table">
                                <tr sec:authorize="hasRole('MA')">
                                    <th class="col-sm-3 m-b-xs">가맹점명</th>
                                    <td>
                                        <div class="col-sm-6 m-b-xs text-left">
                                            <select data-placeholder="가맹점 선택" class="chosen-select" id="userId" tabindex="2">
                                                <option value="ALL" >전체</option>
                                                <option th:each="store:${storeNameList}" name="storeName" th:value="${store[0]}"
                                                        th:selected="${pageVO.userId} == ${store[0]}">[[${store[1]}]]</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-sm-3 m-b-xs">알림유형</th>
                                    <td>
                                        <div class="col-sm-6 m-b-xs">
                                            <select class="input-sm form-control input-s-sm inline" id="alarmTypeCode">
                                                <option value="ALL" th:selected="${pageVO.alarmTypeCode} == 'ALL'">전체</option>
                                                <option value="G" th:selected="${pageVO.alarmTypeCode} == 'G'">선물</option>
                                                <option value="C" th:selected="${pageVO.alarmTypeCode} == 'C'">쿠폰</option>
                                                <option value="S" th:selected="${pageVO.alarmTypeCode} == 'S'">도장</option>
                                                <option value="P" th:selected="${pageVO.alarmTypeCode} == 'P'">포인트</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <table class="custom-table">
                                <tr>
                                    <th class="col-sm-2 m-b-xs">알림목적</th>
                                    <td>
                                        <div class="col-sm-12 m-b-xs text-left">
                                            <select class="chosen-select" id="alarmPurposeCode">
                                                <option value="ALL" th:selected="${pageVO.alarmPurposeCode} == 'ALL'">전체</option>
                                                <option value="G1" th:selected="${pageVO.alarmPurposeCode} == 'G1'">선물 사용</option>
                                                <option value="G2" th:selected="${pageVO.alarmPurposeCode} == 'G2'">선물 구매</option>
                                                <option value="G3" th:selected="${pageVO.alarmPurposeCode} == 'G3'">선물 유효기간 만료</option>
                                                <option value="C0" th:selected="${pageVO.alarmPurposeCode} == 'C0'">쿠폰 도착</option>
                                                <option value="C1" th:selected="${pageVO.alarmPurposeCode} == 'C1'">쿠폰 사용</option>
                                                <option value="C3" th:selected="${pageVO.alarmPurposeCode} == 'C3'">쿠폰 유효기간 만료</option>
                                                <option value="S4" th:selected="${pageVO.alarmPurposeCode} == 'S4'">도장 적립</option>
                                                <option value="S5" th:selected="${pageVO.alarmPurposeCode} == 'S5'">도장 차감</option>
                                                <option value="P3" th:selected="${pageVO.alarmPurposeCode} == 'P3'">포인트 유효기간 만료</option>
                                                <option value="P4" th:selected="${pageVO.alarmPurposeCode} == 'P4'">포인트 적립</option>
                                                <option value="P5" th:selected="${pageVO.alarmPurposeCode} == 'P5'">포인트 차감</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <th class="col-sm-3 m-b-xs">알림 대상자</th>
                                    <td>
                                        <div class="col-sm-6 m-b-xs text-left">
                                            <select class="input-sm form-control input-s-sm inline" id="alarmTargetTypeCode">
                                                <option value="ALL" th:selected="${pageVO.alarmTargetTypeCode} == 'ALL'">전체</option>
                                                <option value="BC" th:selected="${pageVO.alarmTargetTypeCode} == 'BC'">구매자</option>
                                                <option value="RC" th:selected="${pageVO.alarmTargetTypeCode} == 'RC'">수신자</option>
                                                <option value="AC" th:selected="${pageVO.alarmTargetTypeCode} == 'AC'">적립자</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="m-b-xs input-group">
                                            <span class="input-group-btn">
                                                        <button type="button" class="btn btn-sm btn-primary"
                                                                id="searchButton">검색</button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!--등록 버튼-->
                    <div class="col-lg-12">
                        <div class="pull-right">
                            <a th:href="@{registerAlarmSet}"><button class="btn btn-primary">수동 발송</button></a>
                        </div>
                    </div>
                    <!--테이블-->
                    <div class="row" th:with="alarmSet=${alarmSetVO.result}">
                        <div class="col-lg-12">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <th>가맹점명</th>
                                <th>알림유형</th>
                                <th>알림목적</th>
                                <th>발송시점</th>
                                <th>알림 대상자</th>
                                <th>발송수단</th>
                                <th>알림 메시지</th>
                                <th>설정/미설정</th>
                                </thead>
                                <tbody>
                                <tr th:each="vo:${alarmSet.content}" name="table">
                                    <td><input type="hidden" th:value="${vo[0]}">[[${vo[2]}]]</td>
                                    <td>
                                        <span th:switch="${vo[4]}">
                                            <span th:case="G">선물</span>
                                            <span th:case="C">쿠폰</span>
                                            <span th:case="S">도장</span>
                                            <span th:case="P">포인트</span>
                                            <span th:case="ETC">기타</span>
                                        </span>
                                    </td>
                                    <td>[[${vo[7]}]]</td>
                                    <td>[[${vo[9]}]]</td>
                                    <td>
                                        <span th:switch="${vo[10]}">
                                            <span th:case="BC">구매자</span>
                                            <span th:case="RC">수신자</span>
                                        </span>
                                    </td>
                                    <td>
                                        <span th:switch="${vo[12]}">
                                            <span th:case="TALE">알림톡</span>
                                            <span th:case="MESSAGE">문자</span>
                                            <span th:case="TM">알림톡우선</span>
                                        </span>
                                    </td>
                                    <td>
                                        <a class="btn btn-default" name="updateAlarmMessage" href="#">
                                            <span>수정</span>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default" name="updateAlarmVisibleCode" href="#">
                                            <span class="text-success" th:if="${vo[14]} == 1" th:value="${vo[14]}">설정</span>
                                            <span th:if="${vo[14]} == 0" th:value="${vo[14]}" >미설정</span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--페이징-->
                <nav class="text-center">
                    <div>
                        <!--현재 페이지 번호 구분 : th:classappend="${page.pageNumber == productVO.currentPageNum - 1}?active : ''"-->
                        <ul class="pagination">
                            <li class="page-item" th:if="${alarmSetVO.prevPage}"><a th:href="${alarmSetVO.prevPage.pageNumber} + 1">이전[[${alarmSetVO.prevPage.pageNumber} + 1]]</a></li>
                            <li class="page-item" th:each="page:${alarmSetVO.pageList}" th:classappend="${page.pageNumber == (alarmSetVO.currentPageNum - 1)}?active : ''"><a th:href="${page.pageNumber} + 1" id="currentPage">[[${page.pageNumber} + 1]]</a></li>
                            <li class="page-item" th:if="${alarmSetVO.nextPage}"><a th:href="${alarmSetVO.nextPage.pageNumber} + 1">다음[[${alarmSetVO.nextPage.pageNumber} + 1]]</a></li>
                        </ul>
                    </div>
                </nav>
                <!--페이지 및 검색조건 get방식으로 넘김-->
                <form id="pageInfo" th:action="@{listAlarmSet}" method="get">
                    <input type="hidden" name="page" th:value="${alarmSetVO.currentPageNum}"/>
                    <input type="hidden" name="size" th:value="${alarmSetVO.currentPage.pageSize}"/>
                    <input type="hidden" name="type" th:value="${pageVO.type}"/>
                    <input type="hidden" name="keyword" th:value="${pageVO.keyword}"/>
                    <input type="hidden" name="userId" th:value="${pageVO.userId}"/>
                    <input type="hidden" name="alarmTypeCode" th:value="${pageVO.alarmTypeCode}"/>
                    <input type="hidden" name="alarmPurposeCode" th:value="${pageVO.alarmPurposeCode}"/>
                    <input type="hidden" name="alarmTargetTypeCode" th:value="${pageVO.alarmTargetTypeCode}"/>
                </form>
            </div>
        </div>
        <!-- 콘텐츠 END -->

        <!-- 푸터 START -->
        <div th:insert="~{layout/footer::footer}"/>
        <!-- 푸터 END -->
    </div>
</div>
<div class="modal inmodal fade" id="modalAlarmMessage" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">알림 메시지</h4>
            </div>
            <div class="modal-body">
                <p><textarea class="full-width" id="alarmMessage" rows="15"></textarea></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">닫기</button>
                <button type="button" id="updateAlarmMessage" value="" class="btn btn-primary">수정</button>
                <button type="button" id="updateOriginalAlarmMessage" value="" class="btn btn-primary">원래대로</button>
            </div>
        </div>
    </div>
</div>
<th:block >
    <script th:inline="javascript">
        $(window).on('load', function() {
            var message = /*[[${message}]]*/'fail';

            if (message == "successRegister"){
                alert('발송이 정상적으로 처리되었습니다.');
            }
            if (message == "successUpdate"){
                alert('수정이 정상적으로 처리되었습니다.');
            }
            if (message == "successDelete"){
                alert('삭제가 정상적으로 처리되었습니다.');
            }
        });

        $(document).ready(function () {
            var pageSize = /*[[${totalPages}]]*/'';

            console.log(pageSize);

            $('.chosen-select').chosen({width: "100%"});

            /*알림메시지 수정*/
            $('#updateAlarmMessage').click(function (e) {
                e.preventDefault();

                console.log($(this));

//                $('#modalAlarmMessage').modal('show');

                var alarmNo = $(this).val();
                var alarmMessage = $("#alarmMessage").val();

                console.log(alarmNo + alarmMessage);

                $.ajax({
                    url: "/wishwide/alarm/updateAlarmMessage/" + alarmNo,
                    type: 'get',
                    data:{
                        alarmMessage : alarmMessage
                    },
                    contentType: 'application/json',
                    success: function (data) {
                        console.log(data);
                        alert('수정이 완료되었습니다.');
                        $('#modalAlarmMessage').modal('hide');
                    }
                });
            });

            /*알림메시지 원래대로*/
            $('#updateOriginalAlarmMessage').click(function (e) {
                e.preventDefault();

                console.log($(this));

                var alarmNo = $("#updateAlarmMessage").val();

                console.log(alarmNo);

                $.ajax({
                    url: "/wishwide/alarm/updateOriginalAlarmMessage/" + alarmNo,
                    type: 'get',
                    contentType: 'application/json',
                    success: function (data) {
                        console.log(data);
                        alert('원래대로 변경되었습니다.');
                        $("#alarmMessage").val(data);
                        $('#modalAlarmMessage').modal('hide');
                    }
                });
            });

            var isGetAlarmMessage = false;

            $('a[name="updateAlarmMessage"]').click(function (e) {
                e.preventDefault();

                console.log($(this));

                $('#alarmMessage').val('');
                $('#modalAlarmMessage').modal('show');

                var parentNode = $(this).parent().parent();
                var alarmNo = parentNode.children().eq(0).children().eq(0).attr('value');

                console.log('번호 : '+alarmNo);

                $.ajax({
                    url: "/wishwide/alarm/selectAlarmMessage/" + alarmNo,
                    type: 'get',
                    contentType: 'application/json',
                    success: function (data) {
                        console.log(data);
                        $('#alarmMessage').val(data);
                        $('#updateAlarmMessage').val(alarmNo);
                    }
                });


            });

            $('a[name="updateAlarmVisibleCode"]').click(function (e) {
                e.preventDefault();

                if (confirm('알림 설정 상태가 변경됩니다. 변경하시겠습니까?') != true) return false;

                console.log($(this));

                var node = $(this);
                var alarmVisibleCode = $(this).children().eq(0).attr('value');
                var parentNode = $(this).parent().parent();
                var alarmNo = parentNode.children().eq(0).children().eq(0).attr('value');

                console.log(alarmNo + alarmVisibleCode);

                $.ajax({
                    url: "/wishwide/alarm/updateAlarmVisibleCode/" + alarmNo + "/" + alarmVisibleCode,
                    type: 'get',
                    contentType: 'application/json',
                    success: function (data) {
                        console.log("변경 성공" + data);
                        if (data == '1') {
                            console.log(node);
                            node.empty();
                            node.html('<span class="text-success" value="1" >설정</span>');
                            alert('알림 설정 상태로 변경되었습니다.');
                        }
                        else {
                            console.log(node);
                            node.empty();
                            node.html('<span value="0">미설정</span>');
                            alert('알림 미설정 상태로 변경되었습니다.')
                        }
                    }
                });
            });
        });

    </script>
</th:block>
