<div th:insert="~{layout/head::head}"></div>
<!--<script src="/js/managerValidation.js"></script>-->

<div id="wrapper">

    <!-- 사이드바 START -->
    <div th:insert="~{layout/sidebar::sidebar}"></div>
    <!-- 사이드바 END -->

    <!-- 콘텐츠 START -->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <!-- 헤더 START-->
        <div th:insert="~{layout/header::header}"></div>
        <!-- 헤더 END-->

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>템플릿 추가</h2>
                </div>
                <div class="ibox-content">
                    <!--폼 START-->
                    <form method="post" th:action="@{postRegisterAlarmTemplate}" class="form-horizontal" id="registerForm">
                        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->

                        <!--알림유형-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">알림유형<label class="notnull-mark-color"> *</label></label>

                            <div class="col-md-2">
                                <select class="form-control m-b" name="alarmTypeCode">
                                    <option value="G">선물</option>
                                    <option value="C">쿠폰</option>
                                    <option value="S">도장</option>
                                    <option value="P">포인트</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <!--신규가입 전송 여부-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">신규가입 전송 여부<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-3" >
                                <label class="radio-inline"><input type="radio" name="alarmJoinCode" value="1" checked="checked">사용 안함</label>
                                <label class="radio-inline"><input type="radio" name="alarmJoinCode" value="0">사용</label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <!--알림목적-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">알림목적<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-md-3">
                                        <select class="form-control m-b" name="alarmPurposeCode">
                                            <option value="0">도착</option>
                                            <option value="1">사용</option>
                                            <option value="2">구매</option>
                                            <option value="3">유효기간 만료</option>
                                            <option value="4">적립</option>
                                            <option value="5">차감</option>
                                        </select>
                                    </div>
                                    <div id="alarmSendPointCode" style="display:none;">
                                        <label class="col-sm-2 control-label">발송시점</label>
                                        <div class="col-md-3">
                                            <select class="form-control m-b" name="alarmSendPointCode">
                                                <option value="30">30일전</option>
                                                <option value="15">15일전</option>
                                                <option value="7">7일전</option>
                                                <option value="3">3일전</option>
                                                <option value="1">1일전</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <!--대상자-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">대상자<label class="notnull-mark-color"> *</label></label>

                            <div class="col-md-2">
                                <select class="form-control m-b" name="alarmTargetTypeCode">
                                    <option value="BC">구매자</option>
                                    <option value="RC">수신자</option>
                                    <option value="AC">적립자</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <!--알림 메시지-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">알림 메시지</label>
                            <div class="col-sm-2">
                                <textarea class="form-control input-textarea" name="alarmMessage" rows="10"></textarea>
                                <span class="textarea-limit-validation"></span>
                            </div>
                            <div>
                                <a class="btn btn-default" name="selectAlarmVariable" href="#">
                                    <span>알림 변수 정보</span>
                                </a>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--등록, 목록 버튼-->
                        <div class="form-group">
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit" id="btnSubmit">등록</button>
                                <a th:href="@{/wishwide/alarm/listAlarmTemplate(page=${pageVO.page}, size=${pageVO.size}, type=${pageVO.type}, keyword=${pageVO.keyword})}">
                                    <button class="btn btn-white" type="button" id="btnList">목록</button>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- 푸터 START-->
        <div th:insert="~{layout/footer::footer}"/>
        <!-- 푸터 END -->
    </div>
    <!-- 콘텐츠 END -->
</div>
<div class="modal inmodal fade" id="modalAlarmVariable" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">알림 변수</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <th>변수명</th>
                    </thead>
                    <tbody id="alarmVariable">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<th:block >
    <script th:inline="javascript">
        var TEXTAREA_LIMIT_NUM = 300;

        $(document).ready(function () {
            var registerForm = $('#registerForm');

            if ($('textarea').length != 0) {
                var textareaValue = $('textarea').val();
                updateTextareaMsg(textareaValue);
            }

            //설명 유효성 체크
            $('textarea').keyup(function () {
                var textareaValue = $(this).val();
                console.log("ssss");
                updateTextareaMsg(textareaValue);

                if (textareaValue.length > TEXTAREA_LIMIT_NUM) {
                    alert(TEXTAREA_LIMIT_NUM + "자이내로 작성해주세요.");
                    $(this).val(textareaValue.substr(0, TEXTAREA_LIMIT_NUM));
                    $('.textarea-limit-validation').text(TEXTAREA_LIMIT_NUM + '/' + TEXTAREA_LIMIT_NUM);
                }
            });

            //게임타입 코드에 따른 CSS
            registerForm.find('[name="alarmPurposeCode"]').change(function () {
                var alarmPurposeCode = registerForm.find('[name="alarmPurposeCode"] option:selected').val();

                console.log(alarmPurposeCode + '값');

                if(alarmPurposeCode == '3'){
                    $('#alarmSendPointCode').css('display','block');
                }
                else{
                    $('#alarmSendPointCode').css('display','none');
                }
            });

            $('a[name="selectAlarmVariable"]').click(function (e) {
                e.preventDefault();

                console.log($(this));

                $('#modalAlarmVariable').modal('show');

                $.ajax({
                    url: "/wishwide/alarm/selectAlarmVariable",
                    type: 'get',
                    contentType: 'application/json',
                    success: function (data) {
                        console.log(data);
                        if (data != "") {
                            $.each(data, function (index, item) {
                                $('#alarmVariable').append('<tr>' +
                                    '<td>' + item[2] + '</td>' +
                                    '</tr>');
                            });
                        }
                    }
                });
            });
            $('#btnSubmit').click(function (e) {
                if (confirm('등록하시겠습니까?') != true) return false;
            });

        });


        function updateTextareaMsg(textareaValue) {
            $('.textarea-limit-validation').text(textareaValue.length + '/' + TEXTAREA_LIMIT_NUM);
        }

    </script>
</th:block>


