<div th:insert="~{layout/head::head}"/>
<div id="wrapper">
    <!-- 사이드바 START -->
    <div th:insert="~{layout/sidebar::sidebar}"/>
    <!-- 사이드바 END -->

    <div id="page-wrapper" class="gray-bg">
        <!-- 헤더 START -->
        <div th:insert="~{layout/header::header}"/>
        <!-- 헤더 END -->

        <!-- 콘텐츠 START -->
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>마커 관리</h2>
                </div>
                <div class="ibox-content">
                    <div class="col-lg-10">
                        <div class="col-lg-6">
                            <table class="custom-table">
                                <tr sec:authorize="hasRole('MA')">
                                    <th class="col-sm-3 m-b-xs">가맹점명</th>
                                    <td>
                                        <div class="col-sm-6 m-b-xs text-left">
                                            <select data-placeholder="가맹점 선택" class="chosen-select" id="userId" tabindex="2">
                                                <option value="ALL" >전체</option>
                                                <option th:each="store:${storeNameList}" name="storeName" th:value="${store[0]}"
                                                        th:selected="${pageVO.userId} == ${store[0]}">[[${store[1]}]]</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <table class="custom-table">
                                <tr>
                                    <th class="col-sm-3 m-b-xs">게임타입</th>
                                    <td>
                                        <div class="col-sm-6 m-b-xs">
                                            <select class="input-sm form-control input-s-sm inline" id="storeArGameTypeCode">
                                                <option value="ALL" th:selected="${pageVO.storeArGameTypeCode} == 2">전체</option>
                                                <option value="TABLET" th:selected="${pageVO.storeArGameTypeCode} == 1">캐릭터잡기</option>
                                                <option value="BEACON" th:selected="${pageVO.storeArGameTypeCode} == 2">글자맞추기</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!--등록 버튼-->
                    <div class="col-lg-12">
                        <div class="pull-right">
                            <a th:href="@{registerMarker}"><button class="btn btn-primary">마커 추가</button></a>
                        </div>
                    </div>
                    <!--테이블-->
                    <div class="row" th:with="marker=${markerVO.result}">
                        <div class="col-lg-12">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <th>상세</th>
                                <th sec:authorize="hasRole('MA')">가맹점명</th>
                                <th>게임타입</th>
                                </thead>
                                <tbody>
                                <tr th:each="vo:${marker.content}" name="table">
                                    <td>
                                        <a th:href="@{/wishwide/ar/detailMarker/{storeId}(storeId=${vo[0]}, page=${pageVO.page}, size=${pageVO.size}, type=${pageVO.type}, keyword=${pageVO.keyword})}" th:value="${vo[0]}">
                                            <img src="/img/menu.png" style="width: 35px; height: 35px;">
                                        </a>
                                    </td>
                                    <td sec:authorize="hasRole('MA')">[[${vo[1]}]]</td>
                                    <td>[[${vo[4]}]]</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--페이징-->
                <nav class="text-center">
                    <div>
                        <!--현재 페이지 번호 구분 : th:classappend="${page.pageNumber == productVO.currentPageNum - 1}?active : ''"-->
                        <ul class="pagination">
                            <li class="page-item" th:if="${markerVO.prevPage}"><a th:href="${markerVO.prevPage.pageNumber} + 1">이전[[${markerVO.prevPage.pageNumber} + 1]]</a></li>
                            <li class="page-item" th:each="page:${markerVO.pageList}" th:classappend="${page.pageNumber == (markerVO.currentPageNum - 1)}?active : ''"><a th:href="${page.pageNumber} + 1" id="currentPage">[[${page.pageNumber} + 1]]</a></li>
                            <li class="page-item" th:if="${markerVO.nextPage}"><a th:href="${markerVO.nextPage.pageNumber} + 1">다음[[${markerVO.nextPage.pageNumber} + 1]]</a></li>
                        </ul>
                    </div>
                </nav>
                <!--페이지 및 검색조건 get방식으로 넘김-->
                <form id="pageInfo" th:action="@{listMarker}" method="get">
                    <input type="hidden" name="page" th:value="${markerVO.currentPageNum}"/>
                    <input type="hidden" name="size" th:value="${markerVO.currentPage.pageSize}"/>
                    <input type="hidden" name="userId" th:value="${pageVO.userId}"/>
                    <input type="hidden" name="storeArGameTypeCode" th:value="${pageVO.storeArGameTypeCode}"/>
                </form>
            </div>
        </div>
        <!-- 콘텐츠 END -->

        <!-- 푸터 START -->
        <div th:insert="~{layout/footer::footer}"/>
        <!-- 푸터 END -->
    </div>
</div>
<th:block >
    <script th:inline="javascript">
        $(window).on('load', function() {
            var message = /*[[${message}]]*/'fail';

            if (message == "successRegister"){
                alert('등록이 정상적으로 처리되었습니다.');
            }
            if (message == "successUpdate"){
                alert('수정이 정상적으로 처리되었습니다.');
            }
            if (message == "successDelete"){
                alert('삭제가 정상적으로 처리되었습니다.');
            }
        });

        $(document).ready(function () {
            var pageSize = /*[[${totalPages}]]*/'';

            console.log(pageSize);

            $('.chosen-select').chosen({width: "100%"});

        });

    </script>
</th:block>
