<div th:insert="~{layout/head::head}"></div>
<!--<script src="/js/managerValidation.js"></script>-->

<div id="wrapper">

    <!-- 사이드바 START -->
    <div th:insert="~{layout/sidebar::sidebar}"></div>
    <!-- 사이드바 END -->

    <!-- 콘텐츠 START -->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <!-- 헤더 START-->
        <div th:insert="~{layout/header::header}"></div>
        <!-- 헤더 END-->

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>상품 상세</h2>
                </div>
                <div class="ibox-content">
                    <!--폼 START-->
                    <form method="post"  th:action="@{../updatePartner}" class="form-horizontal" id="detailForm" enctype="multipart/form-data">
                        <!--파트너명-->
                        <div class="form-group" sec:authorize="hasRole('MA')">
                            <label class="col-sm-2 control-label">파트너명<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-2">
                                <p class="form-control-static" th:text="${productVO[2]}"></p>
                            </div>
                        </div>
                        <input type="hidden" th:value="${productVO[1]}" class="form-control" name="productOwnerId"/>
                        <div class="hr-line-dashed"></div>

                        <!--할인여부-->
                        <div class="form-group" id="productDiscountCode">
                            <label class="col-sm-2 control-label">할인여부<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-5">
                                <label class="radio-inline"><input type="radio" th:checked="${productVO[19]} == 0" name="productDiscountCode" value="0">미사용</label>
                                <label class="radio-inline"><input type="radio" th:checked="${productVO[19]} == 1" name="productDiscountCode" value="1">사용</label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--할인타입-->
                        <div class="form-group" id="productDiscountTypeCode" style="display:none;">
                            <label class="col-sm-2 control-label">할인타입<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-5">
                                <label class="radio-inline"><input type="radio" th:checked="${productVO[18]} == 'DCR'"  name="productDiscountTypeCode" value="DCR">할인율</label>
                                <label class="radio-inline"><input type="radio" th:checked="${productVO[18]} == 'DCP'"  name="productDiscountTypeCode" value="DCP">할인가</label>
                            </div>
                        </div>

                        <!--할인값-->
                        <div class="form-group" id="productDiscountValue" style="display: none;">
                            <label class="col-sm-2 control-label">할인값<label class="notnull-mark-color"> *</label></label>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="control-label"><input class="form-control" th:value="${productVO[20]}" maxlength="5" type="text" onkeypress="InputOnlyNumber(this);" name="productDiscountValue"></label>
                                </div>
                                <div class="col-sm-1" id="productDiscountPrice">
                                    <label class="control-label">원</label>
                                </div>
                                <div class="col-sm-1" id="productDiscountRate">
                                    <label class="control-label">%</label>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--상품명-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">상품명<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-7">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <input type="text" th:value="${productVO[5]}" maxlength="20" class="form-control" name="productTitle">
                                            <span class="msg-operator-name-input-validation"></span>
                                        </div>
                                        <div class="col-sm-7">
                                            <a href="#" name="addSubProduct">
                                                <i class="fa fa-plus-circle"></i>
                                            </a><label class="form-control-static" > 서브상품 추가</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" id="sub1" style="display:none;">
                                    <div class="hr-line-dashed"></div>
                                    <label class="col-sm-2 form-control-static"><a href="#" name="minusSubProduct" class="minusSubProduct"><i class="fa fa-minus-circle"></i></a>서브상품명</label>
                                    <div class="col-sm-2">
                                        <input type="text" maxlength="20" class="form-control" name="subProductName">
                                    </div>
                                    <label class="col-sm-2 form-control-static">서브상품가(원)</label>
                                    <div class="col-sm-2">
                                        <input type="text" maxlength="6" class="form-control" name="subProductPrice" onkeypress="InputOnlyNumber(this);" >
                                    </div>
                                    <label class="col-sm-2 form-control-static">할인값</label>
                                    <div class="col-sm-2">
                                        <input type="text" maxlength="5" class="form-control" name="subProductDiscountValue" onkeypress="InputOnlyNumber(this);" >
                                    </div>
                                </div>
                                <div class="col-sm-12" id="sub2" style="display:none;">
                                    <div class="hr-line-dashed"></div>
                                    <label class="col-sm-2 form-control-static"><a href="#" name="minusSubProduct" class="minusSubProduct"><i class="fa fa-minus-circle"></i></a>서브상품명</label>
                                    <div class="col-sm-2">
                                        <input type="text" maxlength="20" class="form-control" name="subProductName">
                                    </div>
                                    <label class="col-sm-2 form-control-static">서브상품가(원)</label>
                                    <div class="col-sm-2">
                                        <input type="text" maxlength="6" class="form-control" name="subProductPrice" onkeypress="InputOnlyNumber(this);" >
                                    </div>
                                    <label class="col-sm-2 form-control-static">할인값</label>
                                    <div class="col-sm-2">
                                        <input type="text" maxlength="5" class="form-control" name="subProductDiscountValue" onkeypress="InputOnlyNumber(this);" >
                                    </div>
                                </div>
                                <div class="col-sm-12" id="sub3" style="display:none;">
                                    <div class="hr-line-dashed"></div>
                                    <label class="col-sm-2 form-control-static"><a href="#" name="minusSubProduct" class="minusSubProduct"><i class="fa fa-minus-circle"></i></a>서브상품명</label>
                                    <div class="col-sm-2">
                                        <input type="text" maxlength="20" class="form-control" name="subProductName">
                                    </div>
                                    <label class="col-sm-2 form-control-static">서브상품가(원)</label>
                                    <div class="col-sm-2">
                                        <input type="text" maxlength="6" class="form-control" name="subProductPrice" onkeypress="InputOnlyNumber(this);" >
                                    </div>
                                    <label class="col-sm-2 form-control-static">할인값</label>
                                    <div class="col-sm-2">
                                        <input type="text" maxlength="5" class="form-control" name="subProductDiscountValue" onkeypress="InputOnlyNumber(this);" >
                                    </div>
                                </div>
                                <div class="col-sm-12" id="sub4" style="display:none;">
                                    <div class="hr-line-dashed"></div>
                                    <label class="col-sm-2 form-control-static"><a href="#" name="minusSubProduct" class="minusSubProduct"><i class="fa fa-minus-circle"></i></a>서브상품명</label>
                                    <div class="col-sm-2">
                                        <input type="text" maxlength="20" class="form-control" name="subProductName">
                                    </div>
                                    <label class="col-sm-2 form-control-static">서브상품가(원)</label>
                                    <div class="col-sm-2">
                                        <input type="text" maxlength="6" class="form-control" name="subProductPrice" onkeypress="InputOnlyNumber(this);" >
                                    </div>
                                    <label class="col-sm-2 form-control-static">할인값</label>
                                    <div class="col-sm-2">
                                        <input type="text" maxlength="5" class="form-control" name="subProductDiscountValue" onkeypress="InputOnlyNumber(this);" >
                                    </div>
                                </div>
                                <div class="col-sm-12" id="sub5" style="display:none;">
                                    <div class="hr-line-dashed"></div>
                                    <label class="col-sm-2 form-control-static"><a href="#" name="minusSubProduct" class="minusSubProduct"><i class="fa fa-minus-circle"></i></a>서브상품명</label>
                                    <div class="col-sm-2">
                                        <input type="text" maxlength="20" class="form-control" name="subProductName">
                                    </div>
                                    <label class="col-sm-2 form-control-static">서브상품가(원)</label>
                                    <div class="col-sm-2">
                                        <input type="text" maxlength="6" class="form-control" name="subProductPrice" onkeypress="InputOnlyNumber(this);" >
                                    </div>
                                    <label class="col-sm-2 form-control-static">할인값</label>
                                    <div class="col-sm-2">
                                        <input type="text" maxlength="5" class="form-control" name="subProductDiscountValue" onkeypress="InputOnlyNumber(this);" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--판매가격-->
                        <div class="form-group" id="productPrice">
                            <label class="col-sm-2 control-label">판매가격(원)</label>
                            <div class="col-sm-2">
                                <input type="text" th:value="${productVO[6]}" maxlength="5" class="form-control" value="0" name="productPrice" onkeypress="InputOnlyNumber(this);">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--상품 이미지-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">이미지<label class="notnull-mark-color"> *</label></label>
                            <div class="col-sm-2">
                                <div class="fileinput fileinput-new" data-provides="fileinput" id="file1">
                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 100px; height: 80px;"></div>
                                    <a th:href="@{/file/download(fileName=${productVO[10]}, dbFileName=${productVO[11]})}"
                                       class="btn btn-default file-download" th:if="${productVO[14]} != null">
                                        <span class="fileinput-filename"></span>
                                    </a>
                                    <span class="fileinput-filename" th:if="${productVO[14]} == null"></span>
                                    <div>
                                        <span class="btn btn-default btn-file" onclick="removeProduct(event, 'update');">
                                            <span class="fileinput-new">파일 선택</span>
                                            <span class="fileinput-exists">파일 변경</span>
                                            <input type="file" name="productImage">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--설명-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">설명</label>
                            <div class="col-sm-2">
                                <textarea class="form-control" th:text="${productVO[15]}" name="productDescription" rows="7"></textarea>
                                <span class="textarea-limit-validation"></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--수정, 목록 버튼-->
                        <div class="form-group">
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit" id="btnUpdate">수정</button>
                                <a th:href="@{/wishwide/product/listPartnerProduct(page=${pageVO.page}, size=${pageVO.size}, type=${pageVO.type}, keyword=${pageVO.keyword})}">
                                    <button class="btn btn-white" type="button" id="btnList">목록</button>
                                </a>
                            </div>
                        </div>
                        <input type="hidden" name="page" th:value="${pageVO.page}"/>
                        <input type="hidden" name="size" th:value="${pageVO.size}"/>
                        <input type="hidden" name="keyword" th:value="${pageVO.keyword}"/>
                        <input type="hidden" name="productNo" th:value="${productVO[0]}"/>
                        <input type="hidden" name="productSubProductCode" th:value="${productVO[17]}"/>
                        <input type="hidden" name="giftProductRegisterCode" th:value="${productVO[16]}"/>
                    </form>
                </div>
            </div>
        </div>

        <!-- 푸터 START-->
        <div th:insert="~{layout/footer::footer}"/>
        <!-- 푸터 END -->
    </div>
    <!-- 콘텐츠 END -->
</div>
<th:block >
    <script th:inline="javascript">
        var detailForm = $('#detailForm');

        var isProductAlert = false;
        var productNo = /*[[${productVO[0]}]]*/'';
        var productImageNo = /*[[${productVO[9]}]]*/'';
        var productImageName = /*[[${productVO[10]}]]*/'';
        var productImageExtension = /*[[${productVO[12]}]]*/'';
        var productImageThumbnailUrl = /*[[${productVO[13]}]]*/'';

        var productDiscountCode = /*[[${productVO[19]}]]*/'';
        var productDiscountTypeCode = /*[[${productVO[18]}]]*/'';
        var productSubProductCode = /*[[${productVO[17]}]]*/'';
        var subProductCount = /*[[${subProductCnt}]]*/'';

        $(document).ready(function () {
            if(productImageNo != null) {
                isProductAlert = true;
                processFile(productImageName, productImageExtension, productImageThumbnailUrl, 1);
            }

            $('.chosen-select').chosen({width: "100%"});

            var subProductCnt = subProductCount+1;

            console.log('서브상품 '+productSubProductCode);

            //서브상품 등록되어있을 시 서브상품 정보 가져옴
            if(productSubProductCode == 1){
                $('#productPrice').css('display', 'none');

                $.ajax({
                    url: "/wishwide/product/selectSubProduct/"+productNo,
                    type: 'get',
                    contentType: 'application/json',
                    success: function (data) {
                        console.log(data);
                        if (data.length != 0) {
                            console.log('서브상품개수 : '+subProductCount);
                            $.each(data, function (index, item) {
                                if(index < subProductCount) {
                                    console.log("인덱스 : " + index);

                                    var value = index+1;

                                    var element = $('#sub'+value +'');

                                    element.find('[name="subProductName"]').attr('value', item[2]);
                                    element.find('[name="subProductPrice"]').attr('value', item[3]);
                                    element.find('[name="subProductDiscountValue"]').attr('value', item[4]);

                                    element.css('display', 'block');
                                }
                            });
                        }
                        else{
                            console.log('데이터없음');
                        }
                    }
                });
            }

            //할인여부에 따른 CSS
            if(productDiscountCode == 1){
                $('#productDiscountTypeCode').css('display', 'block');

                if (productSubProductCode == 0){
                    $('#productDiscountValue').css('display', 'block');

                    if (productDiscountTypeCode == 'DCR'){
                        $('#productDiscountRate').css('display', 'block');
                        $('#productDiscountPrice').css('display', 'none');
                    }
                    else if (productDiscountTypeCode == 'DCP'){
                        $('#productDiscountPrice').css('display', 'block');
                        $('#productDiscountRate').css('display', 'none');
                    }
                }
                else{
                    $('#productDiscountValue').css('display', 'none');
                    $('#productDiscountPrice').css('display', 'none');
                    $('#productDiscountRate').css('display', 'none');
                }
            }
            else{
                detailForm.find('[name="subProductDiscountValue"]').attr("readonly", true);
                detailForm.find('[name="subProductDiscountValue"]').val('0');
            }

            //할인 사용여부에 따른 CSS
            detailForm.find('[name="productDiscountCode"]').change(function (e) {
                var productDiscountCode = detailForm.find('[name="productDiscountCode"]:checked').val();

                console.log(productDiscountCode + '값');

                if (productDiscountCode == 1) {
                    $('#productDiscountTypeCode').css('display', 'block');

                    detailForm.find('[name="subProductDiscountValue"]').val('');
                    detailForm.find('[name="subProductDiscountValue"]').attr("readonly", false);
                }
                else {
                    $('#productDiscountTypeCode').css('display', 'none');
                    $('#productDiscountValue').css('display', 'none');

                    detailForm.find('[name="subProductDiscountValue"]').val('0');
                    detailForm.find('[name="subProductDiscountValue"]').attr("readonly", true);
                }
            });

            //할인타입코드에 따른 CSS
            detailForm.find('[name="productDiscountTypeCode"]').change(function (e) {
                var productDiscountTypeCode = detailForm.find('[name="productDiscountTypeCode"]:checked').val();

                console.log(productDiscountTypeCode + '값');

                if($("#sub1").css("display") == "block"){
                    $('#productDiscountValue').css('display', 'none');
                    $('#productDiscountPrice').css('display', 'none');
                    $('#productDiscountRate').css('display', 'none');

                    return false;
                }

                $('#productDiscountValue').css('display', 'block');

                if(productDiscountTypeCode == 'DCP'){
                    $('#productDiscountPrice').css('display', 'block');
                    $('#productDiscountRate').css('display', 'none');
                }
                else{
                    $('#productDiscountRate').css('display', 'block');
                    $('#productDiscountPrice').css('display', 'none');
                }

            });

            //서브상품 추가
            $('a[name="addSubProduct"]').click(function (e) {
                e.preventDefault();

                var productDiscountCode = detailForm.find('[name="productDiscountCode"]:checked').val();
                var productDiscountTypeCode = detailForm.find('[name="productDiscountTypeCode"]:checked').val();

                if (productDiscountCode == undefined) {
                    alert('할인여부를 선택해주세요.');
                    return false;
                }

                if (subProductCnt == 1) {
                    $('#sub1').css('display', 'block');
                    subProductCnt++;

                    $('#productPrice').css('display', 'none');
                    $('#productDiscountValue').css('display', 'none');
                }
                else if (subProductCnt == 2) {
                    $('#sub2').css('display', 'block');
                    subProductCnt++;
                }
                else if (subProductCnt == 3) {
                    $('#sub3').css('display', 'block');
                    subProductCnt++;
                }
                else if (subProductCnt == 4) {
                    $('#sub4').css('display', 'block');
                    subProductCnt++;
                }
                else if (subProductCnt == 5) {
                    $('#sub5').css('display', 'block');
                    subProductCnt++;
                }
                else {
                    alert('서브상품은 최대 5개까지 등록 가능합니다.');
                }

//                var parentNode = $(this).parent().parent().parent();
//
//                parentNode.append('<div class="col-sm-12">' +
//                    '<div class="hr-line-dashed"></div>' +
//                    '<label class="col-sm-3 "><a href="#" name="minusSubProduct" class="minusSubProduct"><i class="fa fa-minus-circle"></i></a>서브상품명</label>' +
//                    '<div class="col-sm-3"><input type="text" maxlength="20" class="form-control" name="productTitle"></div>' +
//                    '<label class="col-sm-3 ">서브상품가격</label>' +
//                    '<div class="col-sm-3"><input type="text" maxlength="20" class="form-control" name="productTitle"></div>' +
//                    '</div>');
//
//                console.log(parentNode);

            });

            //서브상품 제거
            $('.minusSubProduct').click(function (e) {
                e.preventDefault();

                if (subProductCnt == 2) {
                    $('#sub1').css('display', 'none');
                    $('#productPrice').css('display', 'block');

                    var productDiscountCode = detailForm.find('[name="productDiscountCode"]:checked').val();

                    //할인사용시 할인타입 보이기
                    if (productDiscountCode == 1) {
                        $('#productDiscountTypeCode').css('display', 'block');
                    }

                    subProductCnt--;
                }
                else if (subProductCnt == 3) {
                    $('#sub2').css('display', 'none');
                    subProductCnt--;
                }
                else if (subProductCnt == 4) {
                    $('#sub3').css('display', 'none');
                    subProductCnt--;
                }
                else if (subProductCnt == 5) {
                    $('#sub4').css('display', 'none');
                    subProductCnt--;
                }
                else if (subProductCnt == 6) {
                    $('#sub5').css('display', 'none');
                    subProductCnt--;
                }

            });

            $('#btnUpdate').click(function (e){
//                e.preventDefault();

                if (confirm('수정하시겠습니까?') != true) return false;

                var productOwnerId = detailForm.find('[name="productOwnerId"]').val();
                var productTitle = detailForm.find('[name="productTitle"]').val();
                var productDiscountValue = detailForm.find('[name="productDiscountValue"]').val();
                var productDiscountCode = detailForm.find('[name="productDiscountCode"]:checked').val();

                var productDiscountTypeCode = detailForm.find('[name="productDiscountTypeCode"]:checked').val();

                /*유효성 검사*/

                //서브상품 유효성
                if ($("#sub1").css("display") == "block") {
                    var element = $("#sub1");

//                    subProductValidation(element);
                    if (!subProductValidation(element, 0)) return false;

                    detailForm.find('[name="productDiscountValue"]').val('0');
                }
                else {
                    var element = $("#sub1");
                    var productPrice = detailForm.find('[name="productPrice"]').val();

                    element.find('[name="subProductName"]').attr('value', 'none');
                    element.find('[name="subProductPrice"]').attr('value', 0);
                    element.find('[name="subProductDiscountValue"]').attr('value', '0');

                    renameForModelAttribute(element, 0);

                    if (productDiscountCode == 1) {
                        if (productDiscountTypeCode == 'DCR') {
                            if (productDiscountValue == '') {
                                alert('할인률을 입력해주세요');
                                return false;
                            }
                            else if (parseInt(productDiscountValue) > 100) {
                                alert('할인률은 100%까지 입력가능합니다.');
                                return false;
                            }
                        }
                        if (productDiscountTypeCode == 'DCP') {
                            if (productDiscountValue == '') {
                                alert('할인가를 입력해주세요');
                                return false;
                            }
                            else if (parseInt(productDiscountValue) > parseInt(productPrice)) {
                                alert('할인가는 상품가격보다 크게 입력이 불가능합니다.');
                                return false;
                            }
                        }
                    }
                    else{
                        detailForm.find('[name="productDiscountValue"]').val('0');
                    }

                    if (productPrice == 0) {
                        alert('상품가격은 0원이상으로 입력해주세요.');
                        return false;
                    }
                }

                if ($("#sub2").css("display") == "block") {
                    var element = $("#sub2");

                    if (!subProductValidation(element, 1)) return false;
                }

                if ($("#sub3").css("display") == "block") {
                    var element = $("#sub3");

                    if (!subProductValidation(element, 2)) return false;
                }

                if ($("#sub4").css("display") == "block") {
                    var element = $("#sub4");

                    if (!subProductValidation(element, 3)) return false;
                }

                if ($("#sub5").css("display") == "block") {
                    var element = $("#sub5");

                    if (!subProductValidation(element, 4)) return false;
                }

                if (productOwnerId == 'ALL') {
                    alert('파트너를 선택해주세요.');
                    return false;
                }
                if (productTitle == '') {
                    alert('상품명을 입력해주세요.');
                    return false;
                }
                if (productDiscountCode == undefined) {
                    alert('할인여부를 선택해주세요.');
                    return false;
                }
                else{
                    if(productDiscountCode == 1){
                        if (productDiscountTypeCode == undefined) {
                            alert('할인타입을 선택해주세요.');
                            return false;
                        }
                    }
                }

                var productImage = $('input[name="productImage"]').val();

                console.log(productImage);

                if(productImage == '') {
                    var element = $('#file1');

                    if(element.find('.fileinput-filename').text() == ''){
                        alert('이미지를 등록해주세요');
                        return false;
                    }
                }
            });
        });

        function removeProduct(e, type) {
            if(isProductAlert == true) {
                if (confirm('현재 파일이 삭제됩니다. \n계속 진행하시겠습니까?.')) {
                    removeProductFile(productNo);
                    $('#file1').find('.file-download').hide();
                    isProductAlert = false;

                    var element = $('#file1');
                    element.addClass('fileinput-new').removeClass('fileinput-exists');
                    element.find('.fileinput-filename').text('');
                    element.find('.fileinput-preview thumbnail').css('display', 'none');
                    element.find('.fileinput-preview').empty();
                }
                else {
                    console.log(type);
                    if (type == 'remove') e.stopPropagation();
                    else if (type == 'update') e.preventDefault();
                }
            }
        }

        function renameForModelAttribute(element, index) {
            $(element).find("input[name=subProductName]").attr("name", "subProductList[" + index + "].subProductName");
            $(element).find("input[name=subProductPrice]").attr("name", "subProductList[" + index + "].subProductPrice");
            $(element).find("input[name=subProductDiscountValue]").attr("name", "subProductList[" + index + "].subProductDiscountValue");
        }

        function subProductValidation(element, index) {
            var productDiscountTypeCode = detailForm.find('[name="productDiscountTypeCode"]:checked').val();

            var subProductName = '';
            var subProductPrice = '';
            var subProductDiscountValue = element.find('[name="subProductDiscountValue"]').val();

            console.log(productDiscountTypeCode)
            console.log(subProductDiscountValue)

            if (subProductDiscountValue != undefined) {
                subProductName = element.find('[name="subProductName"]').val();
                subProductPrice = element.find('[name="subProductPrice"]').val();
                subProductDiscountValue = element.find('[name="subProductDiscountValue"]').val();
            }
            else {
                subProductName = element.find('[name="subProductList[' + index + '].subProductName"]').val();
                subProductPrice = element.find('[name="subProductList[' + index + '].subProductPrice"]').val();
                subProductDiscountValue = element.find('[name="subProductList[' + index + '].subProductDiscountValue"]').val();
            }

            if(subProductName == '' || subProductPrice == '' || subProductDiscountValue == ''){
                alert('서브상품 정보를 입력해주세요.');
                return false;
            }
            else {
                if (productDiscountTypeCode == 'DCR') {
                    if (parseInt(subProductDiscountValue) > 100) {
                        alert('할인률은 100%까지 입력가능합니다.');
                        return false;
                    }
                }
                else if (productDiscountTypeCode == 'DCP') {
                    if (parseInt(subProductDiscountValue) >= parseInt(subProductPrice)) {
                        alert('할인가는 상품가격보다 크게 입력이 불가능합니다.');
                        return false;
                    }
                }

                detailForm.find('[name="productPrice"]').val(subProductPrice);
                renameForModelAttribute(element, index);
            }

            return true;
        };

    </script>
</th:block>


