<div th:insert="~{layout/head::head}"/>
<div id="wrapper">
    <!-- 사이드바 START -->
    <div th:insert="~{layout/sidebar::sidebar}"/>
    <!-- 사이드바 END -->

    <div id="page-wrapper" class="gray-bg">
        <!-- 헤더 START -->
        <div th:insert="~{layout/header::header}"/>
        <!-- 헤더 END -->

        <!-- 콘텐츠 START -->
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>상품</h2>
                </div>
                <div class="ibox-content">
                    <div class="col-lg-10">
                        <div class="col-lg-6">
                            <table class="custom-table">
                                <tr sec:authorize="hasRole('MA')">
                                    <th class="col-sm-3 m-b-xs">가맹점명</th>
                                    <td>
                                        <div class="col-sm-6 m-b-xs text-left">
                                            <select data-placeholder="가맹점 선택" class="chosen-select" id="userId" tabindex="2">
                                                <option value="ALL" >전체</option>
                                                <option th:each="store:${storeNameList}" name="storeName" th:value="${store[0]}"
                                                        th:selected="${pageVO.userId} == ${store[0]}">[[${store[1]}]]</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-sm-3 m-b-xs">상품/선물</th>
                                    <td>
                                        <div class="col-sm-5 m-b-xs">
                                            <select class="input-sm form-control input-s-sm inline" id="giftProductRegisterCode">
                                                <option value="2" th:selected="${pageVO.giftProductRegisterCode} == 2">전체</option>
                                                <option value="1" th:selected="${pageVO.giftProductRegisterCode} == 1">선물</option>
                                                <option value="0" th:selected="${pageVO.giftProductRegisterCode} == 0">상품</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <table class="custom-table">
                                <tr>
                                    <th class="col-sm-3 m-b-xs">판매상태</th>
                                    <td>
                                        <div class="col-sm-12 m-b-xs">
                                            <select class="input-sm form-control input-s-sm inline" id="productSellStatusCode">
                                                <option value="2" th:selected="${pageVO.productSellStatusCode} == 2">전체</option>
                                                <option value="1" th:selected="${pageVO.productSellStatusCode} == 1">판매</option>
                                                <option value="0" th:selected="${pageVO.productSellStatusCode} == 0">미판매</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-sm-3 m-b-xs">검색대상</th>
                                    <td>
                                        <div class="col-sm-12 m-b-xs">
                                            <select class="input-sm form-control input-s-sm inline" id="searchType">
                                                <option value="ALL" th:selected="${pageVO.type} == 'ALL'">전체</option>
                                                <option value="majorCategoryTitle" th:selected="${pageVO.type} == 'majorCategoryTitle'" >대분류명</option>
                                                <option value="subCategoryTitle" th:selected="${pageVO.type} == 'subCategoryTitle'" >중분류명</option>
                                                <option value="productTitle" th:selected="${pageVO.type} == 'productTitle'">상품명</option>
                                                <option value="productPrice" th:selected="${pageVO.type} == 'productPrice'">판매가격</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-12 m-b-xs input-group">
                                            <input type="text" placeholder="키워드 입력" class="input-sm form-control"
                                                   id="searchKeyword" th:value="${pageVO.keyword}">
                                            <span class="input-group-btn">
                                                        <button type="button" class="btn btn-sm btn-primary"
                                                                id="searchButton">검색</button>
                                                    </span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!--등록 버튼-->
                    <div class="col-lg-12">
                        <div class="pull-right">
                            <a th:href="@{registerStoreProduct}"><button class="btn btn-primary">상품 추가</button></a>
                        </div>
                    </div>
                    <!--테이블-->
                    <div class="row" th:with="product=${productVO.result}">
                        <div class="col-lg-12">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <th>선물 등록</th>
                                <th>상세</th>
                                <th sec:authorize="hasRole('MA')">가맹점명</th>
                                <th>상품 이미지</th>
                                <th>카테고리</th>
                                <th>상품명</th>
                                <th>판매가격</th>
                                <th>판매상태</th>
                                <th>등록일</th>
                                </thead>
                                <tbody>
                                <tr th:each="vo:${product.content}" name="table">
                                    <td>
                                        <div th:if="${vo[1]} == 1" class="checkbox checkbox-primary">
                                            <input type="checkbox" value="option2" checked="" aria-label="Single checkbox Two" onclick="return false;">
                                            <label></label>
                                        </div>
                                        <div th:if="${vo[1]} == 0" class="checkbox checkbox-primary">
                                            <input type="checkbox" value="option2" aria-label="Single checkbox Two" onclick="return false;">
                                            <label></label>
                                        </div>
                                    </td>
                                    <td>
                                        <a th:href="@{/wishwide/product/detailStoreProduct/{productNo}(productNo=${vo[0]}, page=${pageVO.page}, size=${pageVO.size}, type=${pageVO.type}, keyword=${pageVO.keyword})}" th:value="${vo[0]}">
                                            <img src="/img/menu.png" style="width: 35px; height: 35px;">
                                        </a>
                                    </td>
                                    <td sec:authorize="hasRole('MA')">[[${vo[3]}]]</td>
                                    <td>
                                         <span th:if="${vo[16]} != null" class="lightBoxGallery">
                                             <a th:href="${vo[16]}" data-gallery="">
                                                 <img th:src="${vo[16]}" style="width: 35px; height: 35px;">
                                             </a>
                                         </span>
                                        <span th:if="${vo[16]} == null">
                                             <a href="/img/no_image.png" data-gallery="">
                                                  <img src="/img/no_image.png" style="width: 35px; height: 35px;">
                                             </a>
                                        </span>
                                    </td>
                                    <td>
                                        <span th:if="${vo[5]} != null">[[${vo[4]}]]/[[${vo[5]}]]</span>
                                        <span th:if="${vo[5]} == null">[[${vo[4]}]]</span>
                                        <span th:if="${vo[4]} == null">기본</span>
                                    </td>
                                    <td>[[${vo[6]}]]</td>
                                    <td>
                                        <span th:if="${vo[7]} == 0">-</span>
                                        <span th:if="${vo[7]} != 0">
                                            [[${#numbers.formatDecimal(vo[7], 0, 'COMMA', -1, 'POINT')}]]원
                                        </span>
                                    </td>
                                    <td>
                                        <a class="btn btn-default" name="updateProductSellStatusCode" href="#">
                                            <span class="sell text-success" th:if="${vo[9]} == 1" th:value="${vo[9]}">판매</span>
                                            <span class="not-sell"  th:if="${vo[9]} == 0" th:value="${vo[9]}" >미판매</span>
                                        </a>
                                    </td>
                                    <td>[[${#temporals.format(vo[10], 'yyyy-MM-dd HH:mm:ss', locale)}]]</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--페이징-->
                <nav class="text-center">
                    <div>
                        <!--현재 페이지 번호 구분 : th:classappend="${page.pageNumber == productVO.currentPageNum - 1}?active : ''"-->
                        <ul class="pagination">
                            <li class="page-item" th:if="${productVO.prevPage}"><a th:href="${productVO.prevPage.pageNumber} + 1">이전[[${productVO.prevPage.pageNumber} + 1]]</a></li>
                            <li class="page-item" th:each="page:${productVO.pageList}" th:classappend="${page.pageNumber == (productVO.currentPageNum - 1)}?active : ''"><a th:href="${page.pageNumber} + 1" id="currentPage">[[${page.pageNumber} + 1]]</a></li>
                            <li class="page-item" th:if="${productVO.nextPage}"><a th:href="${productVO.nextPage.pageNumber} + 1">다음[[${productVO.nextPage.pageNumber} + 1]]</a></li>
                        </ul>
                    </div>
                </nav>
                <!--페이지 및 검색조건 get방식으로 넘김-->
                <form id="pageInfo" th:action="@{listStoreProduct}" method="get">
                    <input type="hidden" name="page" th:value="${productVO.currentPageNum}"/>
                    <input type="hidden" name="size" th:value="${productVO.currentPage.pageSize}"/>
                    <input type="hidden" name="type" th:value="${pageVO.type}"/>
                    <input type="hidden" name="keyword" th:value="${pageVO.keyword}"/>
                    <input type="hidden" name="userId" th:value="${pageVO.userId}"/>
                    <input type="hidden" name="productSellStatusCode" th:value="${pageVO.productSellStatusCode}"/>
                    <input type="hidden" name="giftProductRegisterCode" th:value="${pageVO.giftProductRegisterCode}"/>
                </form>
            </div>
        </div>
        <!-- 콘텐츠 END -->

        <!-- 푸터 START -->
        <div th:insert="~{layout/footer::footer}"/>
        <!-- 푸터 END -->
    </div>
</div>
<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<th:block >
    <script th:inline="javascript">
        $(window).on('load', function() {
            var message = /*[[${message}]]*/'fail';

            if (message == "successRegister"){
                alert('등록이 정상적으로 처리되었습니다.');
            }
            if (message == "successUpdate"){
                alert('수정이 정상적으로 처리되었습니다.');
            }
            if (message == "successDelete"){
                alert('삭제가 정상적으로 처리되었습니다.');
            }
        });

        $(document).ready(function () {
            var pageSize = /*[[${totalPages}]]*/'';

            console.log(pageSize);

            $('.chosen-select').chosen({width: "100%"});

            $('#storeNameList').on('change', function(){
                console.log('dddd');
                table.search(this.value).draw();
            });

            $('a[name="updateProductSellStatusCode"]').click(function (e) {
                e.preventDefault();

                if (confirm('판매 상태가 변경됩니다. 변경하시겠습니까?') != true) return false;

                console.log($(this));

                var node = $(this);
                var productSellStatusCode = $(this).children().eq(0).attr('value');
                var parentNode = $(this).parent().parent();
                var productNo = parentNode.children().eq(1).children().eq(0).attr('value');

                console.log('상품 번호 : '+productNo +' 판매코드 : ' +productSellStatusCode);

                $.ajax({
                    url: "/wishwide/product/updateProductSellStatusCode/" + productNo + "/" + productSellStatusCode,
                    type: 'get',
                    contentType: 'application/json',
                    success: function (data) {
                        console.log("변경 성공" + data);
                        if (data == '1') {
                            console.log(node);
                            node.empty();
                            node.html('<span class="sell text-success" value="1" >판매</span>');
                            alert('상품 판매 상태로 변경되었습니다.');
                        }
                        else {
                            console.log(node);
                            node.empty();
                            node.html('<span class="not-sell" value="0" >미판매</span>');
                            alert('상품 미판매 상태로 변경되었습니다.');
                        }
                    }
                });


            });
        });

    </script>
</th:block>
